#favourite-product
    .favourite-product
        .box-favourite
            .product-favourite.my-3
                a(href="./product-detail.html")
                    .row
                        .col-4
                            .img-favourite
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                        .col-8.d-flex.align-items-center
                            .product-item-info
                                .product-price.d-flex.justify-content-arround.align-items-center
                                    p.current-price 2,372,000 VND
                                .cursor-pointer
                                    h6.product-info-title Ghế thư giãn barcelona
                                    .product-stars-rating
                                        span.active
                                            i.fas.fa-star
                                        span.active
                                            i.fas.fa-star
                                        span.active
                                            i.fas.fa-star
                                        span
                                            i.fas.fa-star
                                        span
                                            i.fas.fa-star
            .product-favourite.my-3
                a(href="./product-detail.html")
                    .row
                        .col-4
                            .img-favourite
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                        .col-8.d-flex.align-items-center
                            .product-item-info
                                .product-price.d-flex.justify-content-arround.align-items-center
                                    p.current-price 2,372,000 VND
                                .cursor-pointer
                                    h6.product-info-title Ghế thư giãn barcelona
                                    .product-stars-rating
                                        span.active
                                            i.fas.fa-star
                                        span.active
                                            i.fas.fa-star
                                        span.active
                                            i.fas.fa-star
                                        span
                                            i.fas.fa-star
                                        span
                                            i.fas.fa-star
            .product-favourite.my-3
                a(href="./product-detail.html")
                    .row
                        .col-4
                            .img-favourite
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                        .col-8.d-flex.align-items-center
                            .product-item-info
                                .product-price.d-flex.justify-content-arround.align-items-center
                                    p.current-price 2,372,000 VND
                                .cursor-pointer
                                    h6.product-info-title Ghế thư giãn barcelona
                                    .product-stars-rating
                                        span.active
                                            i.fas.fa-star
                                        span.active
                                            i.fas.fa-star
                                        span.active
                                            i.fas.fa-star
                                        span
                                            i.fas.fa-star
                                        span
                                            i.fas.fa-star
            .product-favourite.my-3
                a(href="./product-detail.html")
                    .row
                        .col-4
                            .img-favourite
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                        .col-8.d-flex.align-items-center
                            .product-item-info
                                .product-price.d-flex.justify-content-arround.align-items-center
                                    p.current-price 2,372,000 VND
                                .cursor-pointer
                                    h6.product-info-title Ghế thư giãn barcelona
                                    .product-stars-rating
                                        span.active
                                            i.fas.fa-star
                                        span.active
                                            i.fas.fa-star
                                        span.active
                                            i.fas.fa-star
                                        span
                                            i.fas.fa-star
                                        span
                                            i.fas.fa-star
                                