.container-fluid
    .title-inside-page.my-3
            .d-flex.align-items-center
                a.info-outside(href="./index.html") HOME
                .icon-inside.px-2
                    <i class="fas fa-chevron-right"></i>
                a.info-inside(href="./login.html") LOGIN
    .form-login-register
        .row.justify-content-center
            .col-md-6
                .form_login-register.form-login.p-3
                    .form-title
                        h5 LOGIN
                    .row
                        .col-12
                            .form-info
                                label(for="email-address") Email address *
                                input(type="text")
                        .col-12
                            .form-info
                                label(for="email-address") Password *
                                .input-password
                                    input(type="password" id="password")
                                    <i class="fas fa-eye-slash" id="eye"></i>
                        .col-12
                            .d-flex.align-items-center.justify-content-between
                                .form-info.d-flex.align-items-center
                                    input(type="checkbox" style="width: auto")
                                    label.px-2(for="checkbox" style="width: auto") Remember me
                                a(href="#") Forgot password
                    .w-100
                        button.btn.btn-accept.w-100.py-1.px-3.my-3(type="submit") Login
                    .w-100.text-center
                        p Or login with
                        .social-icon
                            .icon.d-flex.justify-content-center
                                <i class="fab fa-facebook mr-2"></i>
                                <i class="fab fa-twitter-square mr-2"></i>
                                <i class="fab fa-linkedin mr-2"></i>
                                <i class="fab fa-instagram mr-2"></i>
            


