.container-fluid.pd-custom-layout.bg-white
    .title-introduce
        h3 Giới thiệu về chúng tôi
    p.text-introduce được hình thành từ năm 1995 với niềm đam mê nội thất đương đại của nhóm các Nhà Thiết Kế đến từ Việt Nam và Ý. Từ những năm đầu tiên, sứ mệnh gia công những sản phẩm nội thất cao cấp cho thị trường Ý và các nước Châu Âu lĩnh hội được kỹ thuật sản xuất tiên tiến cũng như nắm bắt nhanh chóng các xu hướng thẩm mỹ nội thất trên thế giới. Không lâu đã chính thức giới thiệu tại thị trường TP. Hồ Chí Minh, Hà Nội và Bình Dương dòng sofa được sản xuất tại Việt Nam theo tiêu chuẩn xuất khẩu.
    p.text-introduce Nhằm đáp ứng nhu cầu tiêu dùng cao cấp của người Việt, đã đa dạng hóa sản phẩm với nhóm hàng nội thất nhập khẩu đến từ Malaysia, Nhật Bản và Italia. đã nhanh chóng trờ thành thương hiệu Sofa được người tiêu dùng đánh giá tốt nhất trên thị trường về số lượng mẫu mã, thiết kế đẳng cấp, chất lượng sản phẩm, dịch vụ hậu mãi và giá thành hợp lý.

    .main-introduce
        .title-introduce
            h3 Chất lượng
        p.text-introduce Sứ mệnh của chúng tôi là đem tới cho Khách hàng sự hài lòng từ dịch vụ nhiệt huyết tận tâm đến sản phẩm chất lượng cao cùng chế độ bảo hành, bảo trì vĩnh viễn tại nhà. Tất cả những quy ước tiêu chuẩn tại đây được áp dụng cho toàn bộ sản phẩm Nội thất.

        .title-introduce
            h3 Các dòng sản phẩm
        .row
            .col-lg-6.pt-2
                .img-introduce
                    img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/10/21/jysk-bed-vedde0000-1571632207.jpg", alt="")
            .col-lg-6.pt-2
                .introduce-info
                    .title-introduce
                        h4.text-green Sofa Nhật Bản
                    p.text-introduce Đại diện cho dòng sản phẩm nội thất đương đại cao cấp của Châu Á, được sản xuất với quy trình kiểm soát chất lượng gắt gao nhất của người Nhật. Các sản phẩm và chi tiết được chăm chút tỉ mỉ, mang hơi hướng thiết kế hiện đại của thế giới nhưng vẫn theo các tiêu chuẩn nhân trắc học của người Á Đông. Dòng sofa Nhật có thể xem là sản phẩm lý tưởng dành cho những khách hàng yêu thích vẻ đẹp và chất lượng hoàn hảo đến từ Nhật Bản.
        
        .row.flex-row-reverse.pt-5
            .col-lg-6.pt-2
                .img-introduce
                    img(src="https://cdn.shopify.com/s/files/1/1503/1122/files/12_large.jpg?v=1479737822", alt="")
            .col-lg-6.pt-2
                .introduce-info
                    .title-introduce
                        h4.text-green Sofa Việt Nam
                    p.text-introduce Dòng Sofa Việt Nam Xuất Khẩu được sản xuất theo tiêu chuẩn Châu Âu, với khung gỗ dầu được sấy đúng tiêu chuẩn, đảm bảo không mối mọt và đạt được độ bền chắc trong nhiều năm. Phần nệm mút được nhập khẩu từ Malaysia, với kỹ thuật chèn nhiều lớp có độ đàn hồi khác nhau, tạo độ êm xốp khi ngồi nhưng vẫn không bị xẹp lún và vẫn giữ được form sau nhiều năm sử dụng.

        .row.pt-5
            .col-lg-6.pt-2
                .img-introduce
                    img(src="https://cdn.shopify.com/s/files/1/1503/1122/files/DI-652_2048x_a10247d6-9810-4fec-9a80-4b59f8e0dc44_large.jpg?v=1525220100", alt="")
            .col-lg-6.pt-2
                .introduce-info
                    .title-introduce
                        h4.text-green Bộ bàn ăn Hồng Kông
                    p.text-introduce Bộ bàn ăn được sản xuất và nhập khẩu từ Hong Kong có thiết kế hiện đại tinh tế cùng với chất liệu đa dạng.  Bên cạnh những mẫu bàn bằng đá marble cao cấp cùng với ghế kích thước lớn, nệm ngồi êm ái, thoải mái, thích hợp cho không gian vừa và lớn; COZY còn giới thiệu dòng sản phẩm bằng kính (có thể kéo dài tăng diện tích) và ghế chân inox bọc PVC với kích thước nhỏ gọn hơn và phù hợp với các căn hộ chung cư.

        .contacts.pt-5
            .title-introduce
                h3 Thông tin liên hệ 
            .title-introduce.pb-2
                h4.text-green Công ty TNHH nội thất DECOX
            .main-contacts
                .location.py-1
                    span.title-contact.text-green Trụ sở : 
                    span 672 đường số 6 phường Tân Hương quận Tân Phú tp.HCM
                .location.py-1
                    span.title-contact.text-green Chi nhánh : 
                    span Căn RS3-SH17, Tòa nhà RS3, Chung cư Richstar, Q.Tân Phú, Tp.HCM
                .Hot-line.py-1
                    span.title-contact.text-green Đường dây nóng : 
                    span 0935 489 789
                .map.py-2
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2767298341428!2d106.61946531428713!3d10.790104561892852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c072c2f17bd%3A0xcc41d23315859337!2zVMOibiBIxrDGoW5nLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1577952000562!5m2!1svi!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            
