.container-fluid.pd-custom-layout.bg-white#apartment
    .title-introduce
        h3 Mặt bằng
    p.text-introduce Được đánh giá là có vị trí đẹp và thuộc căn hộ cao cấp Thành phố Hồ Chí Minh. Với quy  mô 14,36 ha cùng thiết kế căn hộ 1-2-3 PN với nhiều loại diện tích từ 43 - 95 m2 mang đến nhiều sự lựa chọn cho Khách hàng mua căn hộ.
    .img-ground
        img(src="https://canhoquan7.info/uploads/noidung/images/tong-quan.jpg", alt="")
    .title-introduce
        h3 Mặt bằng tổng quan
    .img-ground
        img(src="https://canhoquan7.info/uploads/noidung/images/can-ho-3pn.jpg", alt="")
    .row.mt-5.mx-0
        .col-lg-5
            .info-apartment
                i.fas.fa-check-square
                strong Mật độ xây dựng : 
                span 80%
            .info-apartment
                i.fas.fa-check-square
                strong Tổng diện tích hầm : 
                span 49.439 m#[sup 2]
            .info-apartment
                i.fas.fa-check-square
                strong Tầng cao công trình : 
                span 27 tầng và 2 tầng hầm
            .info-apartment
                i.fas.fa-check-square
                strong 2 tầng hầm : 
                span Hầm để xe chung cư
            .info-apartment
                i.fas.fa-check-square
                strong Diện tích căn hộ : 
                span 50 - 84 m#[sup 2]
            .info-apartment
                i.fas.fa-check-square
                strong Hình thức sơ hữu : 
                span Sổ hồng lâu dài
        .col-lg-7
            .img-apartment
                img(src="http://hungthinhservice.com/wp-content/uploads/2018/04/saigon-mia-tongquan1.jpg", alt="")
