.title-introduce.mt-3.ml-3
    h3 Chung cư có thiết kế tương tự
.row.pb-5.pt-2.mx-0
    .col-md-4
        .box-apartment.mt-4.apartment-related
            a.img-apartment(href="./drawings-designs.html")
                img(src="https://cityhouseapartment.com/uploads/projects/boxAvatar/DSC_0003 10-20-2017.jpeg", alt="")
            a(href="./drawings-designs.html").caption
                .title
                    h3 CityHouse - Nguyen Trai Apartment
                .text-content
                    h3
                        b Tiêu chuẩn nâng cao
    .col-md-4
        .box-apartment.mt-4.apartment-related
            a.img-apartment(href="./drawings-designs.html")
                img(src="https://cityhouseapartment.com/uploads/projects/boxAvatar/City House - Hoang Linh 2-19.jpeg", alt="")
            a(href="./drawings-designs.html").caption
                .title
                    h3 CityHouse - Hoang Linh Apartment
                .text-content
                    h3
                        b Tiêu chuẩn nâng cao
    .col-md-4
        .box-apartment.mt-4.apartment-related
            a.img-apartment(href="./drawings-designs.html")
                img(src="https://cityhouseapartment.com/uploads/projects/boxAvatar/City House - Hoang Long Apartment  - 4.jpeg", alt="")
            a(href="./drawings-designs.html").caption
                .title
                    h3 CityHouse - Hoang Long Apartment
                .text-content
                    h3
                        b Tiêu chuẩn nâng cao