#banner-product
    .banner-product
        .row
            .col-md-6.my-2
                .box-banner-product
                    .img-banner-product
                        img(src="https://xuongmocgocongnghiep.com/upload/slider/xuongmocgocongnghiep.jpg", alt="")
                    .text-banner-product-custom
                        a(href="#").btn-link-banner.btn-link-info Shop now
            .col-md-6.my-2
                .box-banner-product
                    .img-banner-product
                        img(src="https://xuongmocgocongnghiep.com/upload/slider/xuongmocgocongnghiep.jpg", alt="")
                    .text-banner-product-custom
                        a(href="#").btn-link-banner.btn-link-info Shop now