#banner-product
    .banner-product
        .row
            .col-md-6.my-2
                .box-banner-product
                    .img-banner-product
                        img(src="../../dist/assets/img-e/img-10.png", alt="")
                    .text-banner-product-custom
                        a(href="./shop.html").btn-link-banner.btn-link-info Shop now
            .col-md-6.my-2
                .box-banner-product
                    .img-banner-product
                        img(src="../../dist/assets/img-e/img-11.png", alt="")
                    .text-banner-product-custom
                        a(href="./shop.html").btn-link-banner.btn-link-info Shop now