#banner
    .row
        .col-md-8.mb-3
            .owl-carousel.owl-theme.owl-carousel-banner.h-100
                .item.banner.mb-0.h-100
                    .img-banner.h-100
                        img.h-100(src="https://st.hzcdn.com/simgs/5381c08706afbe7d_16-0379/contemporary-bathroom.jpg", alt="")
                    
                .item.banner.mb-0.h-100
                    .img-banner.h-100
                        img.h-100(src="../../dist/assets/img-e/img-1.png", alt="")
                    
                .item.banner.mb-0.h-100
                    .img-banner.h-100
                        img.h-100(src="https://st.hzcdn.com/simgs/c2a1ff100a83762a_16-7675/eclectic-living-room.jpg", alt="")
                    
        .col-md-4.mb-3
            .banner.h-100.position-relative
                .img-banner-center.h-100.d-flex
                    img(src="https://st.hzcdn.com/simgs/c2a1ff100a83762a_16-7675/eclectic-living-room.jpg", alt="")
                .text-banner-center
                        .title-banner
                            h6 Thiết kế
                        .text-content
                            span HOME
                        .btn-banner-center
                            a.btn-link-banner.btn-hover-link(href="./shop.html") Shop now