#banner-product
    .banner-product
        .row
            .col-md-6.my-2
                .box-banner-product
                    .img-banner-product
                        img(src="../../dist/assets/img-e/Image-4.png", alt="")
                    .text-banner-product
                        span Top seller
                        span Simple chair
                        span 10% of selected case
                        a(href="./shop.html").btn-link-banner.btn-link-custom Shop now
            .col-md-6.my-2
                .box-banner-product
                    .img-banner-product
                        img(src="../../dist/assets/img-e/img-5.png", alt="")
                    .text-banner-product
                        span Top seller
                        span Simple chair
                        span 10% of selected case
                        a(href="./shop.html").btn-link-banner.btn-link-custom Shop now
