#banner
    .row
        .col-lg-6.col-md-12.mb-3
            .owl-carousel.owl-theme.owl-carousel-banner.h-100
                .item.banner.mb-0.h-100
                    .img-banner.h-100
                        img.h-100(src="https://st.hzcdn.com/simgs/5381c08706afbe7d_16-0379/contemporary-bathroom.jpg", alt="")
                    
                .item.banner.mb-0.h-100
                    .img-banner.h-100
                        img.h-100(src="../../dist/assets/img-e/img-1.png", alt="")
                    
                .item.banner.mb-0.h-100
                    .img-banner.h-100
                        img.h-100(src="https://st.hzcdn.com/simgs/c2a1ff100a83762a_16-7675/eclectic-living-room.jpg", alt="")
                    
        .col-lg-3.col-sm-6.mb-3
            .banner.h-100.position-relative
                .img-banner-center.h-100.d-flex
                    img(src="https://st.hzcdn.com/simgs/c2a1ff100a83762a_16-7675/eclectic-living-room.jpg", alt="")
                .text-banner-center
                        .title-banner
                            h6 Thiết kế
                        .text-content
                            span HOME
                        .btn-banner-center
                            a.btn-link-banner(href="./shop.html") Shop now
        .col-lg-3.col-sm-6.mb-3
            .box-banner
                .box-img
                    .mb-sm-4.img-box.mb-0.mr-sm-0.mr-2.position-relative
                        img(src="../../dist/assets/img-e/img-2.png", alt="")
                        .btn-banner-center.btn-custom-banner
                            a.btn-link-banner(href="./shop.html") Shop now
                .box-img
                    .mt-sm-4.img-box.mt-0.ml-sm-0.ml-2.position-relative
                        img(src="../../dist/assets/img-e/img-3.png", alt="")
                        .btn-banner-center.btn-custom-banner
                            a.btn-link-banner(href="./shop.html") Shop now