#banner-product
    .banner-product
        .row
            .col-md-6.my-2
                .box-banner-product
                    .img-banner-product
                        img(src="https://namhoatoys.com/wp-content/uploads/2019/06/B%E1%BB%99-b%C3%A0n-gh%E1%BA%BF-g%E1%BB%97-cho-b%C3%A9-h%C3%ACnh-ch%E1%BB%AF-nh%E1%BA%ADt-tr%C6%A1n-BCN003-N%E1%BB%99i-th%E1%BA%A5t-tr%E1%BA%BB-em-Nam-Hoa-Furniture.png", alt="")
                    .text-banner-product
                        span Top seller
                        span Simple chair
                        span 10% of selected case
                        a(href="#").btn-link-banner.btn-link-custom Shop now
            .col-md-6.my-2
                .box-banner-product
                    .img-banner-product
                        img(src="https://namhoatoys.com/wp-content/uploads/2019/06/B%E1%BB%99-b%C3%A0n-gh%E1%BA%BF-g%E1%BB%97-cho-b%C3%A9-h%C3%ACnh-ch%E1%BB%AF-nh%E1%BA%ADt-tr%C6%A1n-BCN003-N%E1%BB%99i-th%E1%BA%A5t-tr%E1%BA%BB-em-Nam-Hoa-Furniture.png", alt="")
                    .text-banner-product
                        span Top seller
                        span Simple chair
                        span 10% of selected case
                        a(href="#").btn-link-banner.btn-link-custom Shop now
