#carousel-banner
    .carousel-banner
        .owl-carousel.owl-theme.owl-carousel-banner
            .item.banner.h-100
                .img-banner.h-100
                    img(src="https://st.hzcdn.com/simgs/5381c08706afbe7d_16-0379/contemporary-bathroom.jpg", alt="")
                
            .item.banner.h-100
                .img-banner.h-100
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTf1ZGHpLugqQCJsXadGSwNWwFzwrvKVjLES8519qT-qLNYgC2W", alt="")
                
            .item.banner.h-100
                .img-banner.h-100
                    img(src="https://st.hzcdn.com/simgs/c2a1ff100a83762a_16-7675/eclectic-living-room.jpg", alt="")