#carousel-banner
    .carousel-banner
        .owl-carousel.owl-theme.owl-carousel-banner
            .item.banner.h-100
                .img-banner.h-100
                    img(src="../../dist/assets/img-e/img-12.png", alt="")
                
            .item.banner.h-100
                .img-banner.h-100
                    img(src="../../dist/assets/img-e/img-12.png", alt="")
                
            .item.banner.h-100
                .img-banner.h-100
                    img(src="../../dist/assets/img-e/img-12.png", alt="")