.container.p-0
    #sidebar
        .sidebar-menu
            .main-title
                h3 Danh mục sản phẩm
            ul.sub-menu-content
                li.menu-item
                    a.hover-bottom(href="./category-product.html") Tất cả
                    span.menu-plug (1111)
                li.menu-item
                    .content-flex
                        a.hover-bottom(href="./category-product-bed.html") Giường
                            span.menu-plug (22)
                        span.menu-icon.menu-icon-btn
                            i.fas.fa-chevron-right
                    ul.sub-menu-sidebar
                        li
                            a.hover-bottom(href="./category-product-bed.html") Giường tầng
                            span.menu-plug (5)
                        li
                            a.hover-bottom(href="./category-product-bed.html") Giường hộc kéo
                            span.menu-plug (5)
                        li
                            a.hover-bottom(href="./category-product-bed.html") Giường đôi
                            span.menu-plug (5)
                        li
                            a.hover-bottom(href="./category-product-bed.html") Giường đơn
                            span.menu-plug (7)
                li.menu-item
                    .content-flex
                        a.hover-bottom(href="./product-not-found.html") Tủ
                            span.menu-plug (75)
                        span.menu-icon.menu-icon-btn
                            i.fas.fa-chevron-right
                    ul.sub-menu-sidebar
                        li
                            a.hover-bottom(href="./product-not-found.html") Tủ trang trí
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Tủ ngăn kéo
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Tủ quần áo
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Tủ giày
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Tủ bếp
                            span.menu-plug (5)
                        li
                            a.hover-bottom(href="./product-not-found.html") Tủ đầu giường
                            span.menu-plug (10)
                li.menu-item
                    .content-flex
                        a.hover-bottom(href="./category-product-table.html") Bàn
                            span.menu-plug (77)
                        span.menu-icon.menu-icon-btn
                            i.fas.fa-chevron-right
                    ul.sub-menu-sidebar
                        li
                            a.hover-bottom(href="./category-product-table.html") Bàn làm việc
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./category-product-table.html") Bàn ăn
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./category-product-table.html") Bàn bar
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./category-product-table.html") Bàn trang trí
                            span.menu-plug (15)
                li.menu-item
                    .content-flex
                        a.hover-bottom(href="./category-product-chair.html") Ghế
                            span.menu-plug (177)
                        span.menu-icon.menu-icon-btn
                            i.fas.fa-chevron-right
                    ul.sub-menu-sidebar
                        li
                            a.hover-bottom(href="./category-product-chair.html") Ghế làm việc
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./category-product-chair.html") Ghế thư giãn
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./category-product-chair.html") Ghế bar
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./category-product-chair.html") Ghế ăn
                            span.menu-plug (15)
                li.menu-item
                    .content-flex
                        a.hover-bottom(href="./category-product-chair.html") Sofa đơn
                            span.menu-plug (66)
                        span.menu-icon.menu-icon-btn
                            i.fas.fa-chevron-right
                    ul.sub-menu-sidebar
                        li
                            a.hover-bottom(href="./category-product-chair.html") Ghế đôn/Ghế lười
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./category-product-chair.html") Ghế băng
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./category-product-chair.html") Ghế đọc sách
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./category-product-chair.html") Ghế bành
                            span.menu-plug (15)
                li.menu-item
                    .content-flex
                        a.hover-bottom(href="./product-not-found.html") Sofa
                            span.menu-plug (55)
                        span.menu-icon.menu-icon-btn
                            i.fas.fa-chevron-right
                    ul.sub-menu-sidebar
                        li
                            a.hover-bottom(href="./product-not-found.html") Sofa góc
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Sofa giường
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Sofa 3 chỗ
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Sofa 2 chỗ
                            span.menu-plug (15)
                li.menu-item
                    .content-flex
                        a.hover-bottom(href="./category-product-table.html") Bàn cafe
                            span.menu-plug (54)
                        span.menu-icon.menu-icon-btn
                            i.fas.fa-chevron-right
                    ul.sub-menu-sidebar
                        li
                            a.hover-bottom(href="./category-product-table.html") Bàn trang trí
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./category-product-table.html") Bàn góc
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./category-product-table.html") Bàn cafe
                            span.menu-plug (15)
                li.menu-item
                    .content-flex
                        a.hover-bottom(href="./product-not-found.html") Kệ
                            span.menu-plug (14)
                        span.menu-icon.menu-icon-btn
                            i.fas.fa-chevron-right
                    ul.sub-menu-sidebar
                        li
                            a.hover-bottom(href="./product-not-found.html") Kệ treo tường
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Kệ sách
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Kệ tivi
                            span.menu-plug (15)
                li.menu-item
                    .content-flex
                        a.hover-bottom(href="./product-not-found.html") Phụ kiện
                            span.menu-plug (324)
                        span.menu-icon.menu-icon-btn
                            i.fas.fa-chevron-right
                    ul.sub-menu-sidebar
                        li
                            a.hover-bottom(href="./product-not-found.html") Gối
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Nệm
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Khăn
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Thảm
                            span.menu-plug (15)
                li.menu-item
                    .content-flex
                        a.hover-bottom(href="./product-not-found.html") Trang trí
                            span.menu-plug (124)
                        span.menu-icon.menu-icon-btn
                            i.fas.fa-chevron-right
                    ul.sub-menu-sidebar
                        li
                            a.hover-bottom(href="./product-not-found.html") Tranh
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Lọ trang trí
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Cây trang trí
                            span.menu-plug (15)
                        li
                            a.hover-bottom(href="./product-not-found.html") Đồng hồ
                            span.menu-plug (15)
                li.menu-item
                    .content-flex
                        a.hover-bottom(href="./product-not-found.html") Combo
                            span.menu-plug (0)
                        span.menu-icon.menu-icon-btn
                            i.fas.fa-chevron-right
        .filter-menu.sidebar-menu.mt-3
            .main-title
                h3 Bộ lọc
            .main-content.border-bottom
                .filter-header.content-flex
                    span Thương hiệu
                    span.menu-icon
                        i.fas.fa-chevron-right
                .filter-content
                    .search
                        button
                            <i class="fas fa-search"></i>
                        input(type="text" placeholder="tìm kiếm...")
                    ul.checkbox
                        li
                            a(href="#")
                                label.filter-checkbox
                                    | JYSK
                                    input(type='checkbox')
                                    span.checkmark
                        li
                            a(href="#")
                                label.filter-checkbox
                                    | Fullhouse
                                    input(type='checkbox')
                                    span.checkmark
                        li
                            a(href="#")
                                label.filter-checkbox
                                    | Casanha
                                    input(type='checkbox')
                                    span.checkmark
                        li
                            a(href="#")
                                label.filter-checkbox
                                    | Fitis
                                    input(type='checkbox')
                                    span.checkmark
                        li
                            a(href="#")
                                label.filter-checkbox
                                    | PuzzleHome
                                    input(type='checkbox')
                                    span.checkmark
                        a.text-underline(href="#") Xem thêm
            .main-content.border-bottom
                .filter-header.content-flex
                    span Phong cách
                    span.menu-icon
                        i.fas.fa-chevron-right
                ul.checkbox
                    li
                        a(href="#")
                            label.filter-checkbox
                                | Phong Cách Scandinavian
                                input(type='checkbox')
                                span.checkmark
                    li
                        a(href="#")
                            label.filter-checkbox
                                | Phong Cách Hiện Đại
                                input(type='checkbox')
                                span.checkmark
                    li
                        a(href="#")
                            label.filter-checkbox
                                | Phong Cách Nhật Zen
                                input(type='checkbox')
                                span.checkmark
                    li
                        a(href="#")
                            label.filter-checkbox
                                | Phong Cách Cổ Điển
                                input(type='checkbox')
                                span.checkmark
                    li
                        a(href="#")
                            label.filter-checkbox
                                | Phong Cách Retro
                                input(type='checkbox')
                                span.checkmark
                    a.text-underline(href="#") Xem thêm
            .main-content.border-bottom
                .filter-header.content-flex
                    span Giá (VND)
                    span.menu-icon
                        i.fas.fa-chevron-right
                .price
                    .control-price.content-flex
                        input(type="text", value="0")
                        span -
                        input(type="text", value="200000000")
                    button.btn-apply.mt-2 Áp dụng
            .main-content.border-bottom
                .filter-header.content-flex
                    span Màu sắc
                    span.menu-icon
                        i.fas.fa-chevron-right
                .filter-color-wrapper
                    .row
                        .filter-color(style="background: rgb(244, 125, 14);")
                        .filter-color(style="background: rgb(240, 51, 118);")
                        .filter-color(style="background: rgb(255, 170, 207);")
                        .filter-color(style="background: rgb(255, 234, 204);")
                        .filter-color(style="background: rgb(255, 219, 156);")
                        .filter-color(style="background: rgb(195, 145, 34);")
                        .filter-color(style="background: rgb(195, 68, 51);")
                        .filter-color(style="background: rgb(255, 217, 128);")
                        .filter-color(style="background: rgb(158, 102, 5);")
                        .filter-color(style="background: rgb(150, 124, 98);")
                        .filter-color(style="background: rgb(141, 116, 217);")
                        .filter-color(style="background: rgb(255, 255, 255);")
                        .filter-color(style="background: rgb(226, 220, 220);")
                        .filter-color(style="background: rgb(255, 246, 0);")
                        .filter-color(style="background: rgb(205, 205, 200);")
                        .filter-color(style="background: rgb(244, 25, 111);")
                        .filter-color(style="background: rgb(24, 15, 14);")
                        .filter-color(style="background: rgb(64, 125, 114);")
                        .filter-color(style="background: rgb(244, 125, 114);")
                        .filter-color(style="background: rgb(34, 115, 14);")
                        .filter-color(style="background: rgb(54, 125, 14);")
                        .filter-color(style="background: rgb(74, 125, 14);")
                        .filter-color(style="background: rgb(94, 95, 14);")
                        .filter-color(style="background: rgb(84, 25, 14);")
                        .filter-color(style="background: rgb(244, 125, 14);")
                        .filter-color(style="background: rgb(244, 25, 114);")
                        .filter-color(style="background: rgb(144, 25, 14);")
                        .filter-color(style="background: rgb(24, 125, 14);")
            .main-content.border-bottom
                .filter-header.content-flex
                    span Chất liệu
                    span.menu-icon
                        i.fas.fa-chevron-right
                .filter-material-wrapper.mt-3
                    .row.mx-0
                        .filter-material Bê tông
                        .filter-material Cói
                        .filter-material Cotton
                        .filter-material Da
                        .filter-material Da pu
                        .filter-material Da thật
                        .filter-material Kim loại
                        .filter-material Gỗ công nghiệp
                        .filter-material Gỗ tự nhiên
                        .filter-material Thạch cao
                        .filter-material Đá
                        .filter-material Nhựa
                        .filter-material Mây tre
                        .filter-material Vãi
                        .filter-material Vãi nhung
                        .filter-material Vãi bố Linen
                        .filter-material vỏ cây
