include ./datafake.pug
.concept-info_wrapper.bg-deepgrey
    .concept-content-box.p-3
        .concept-content-space-owner 
            .concept-content-space-owner_info-details
                .space-info_title.mb-1
                    h2
                        span.space-title__line Phòng ngủ gia đình
                .space-owner_info-details_rating.d-flex.mt-2
                    .space-owner_info-details_rating_icon
                        span
                            i.fa.fa-star.checked
                        span
                            i.fa.fa-star.checked
                        span
                            i.fa.fa-star.checked
                        span
                            i.fa.fa-star.checked
                        span
                            i.fa.fa-star
                    span.ml-2(style="font-size:13px;line-height:23px") 4 Lượt xem
    .concept-content-box.px-3.pt-3.pb-0
        .concept-content-space-info
            .space-facets
                span Thương hiệu: 
                img(src="https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png", alt="")
            .space-description.d-flex.my-2
                span.mr-3 Share:
                .social-icon
                    .icon.d-flex.icon-contacts-detail
                        a(href="#")
                            <i class="fab fa-facebook mr-2"></i>
                        a(href="#")
                            <i class="fab fa-twitter-square mr-2"></i>
                        a(href="#")
                            <i class="fab fa-linkedin mr-2"></i>
                        a(href="#")
                            <i class="fab fa-instagram mr-2"></i>
            .concept-project-photo#photo
                .concept_title
                    h2 Concept được yêu thích nhất
                    .project-photo_img.my-2
                        .owl-carousel.owl-theme.owl-carousel-concept
                            .item
                                .box-img
                                    a(href="./concept.html")
                                        img(src="https://st.hzcdn.com/simgs/82b12df704bd4c8a_9-8533/contemporary-bedroom.jpg")
                            .item
                                .box-img
                                    a(href="./concept.html")
                                        img(src="https://st.hzcdn.com/simgs/82b12df704bd4c8a_9-8533/contemporary-bedroom.jpg")
                            .item
                                .box-img
                                    a(href="./concept.html")
                                        img(src="https://st.hzcdn.com/simgs/82b12df704bd4c8a_9-8533/contemporary-bedroom.jpg")
                            .item
                                .box-img
                                    a(href="./concept.html")
                                        img(src="https://st.hzcdn.com/simgs/82b12df704bd4c8a_9-8533/contemporary-bedroom.jpg")
                        
    .concept-content-box.px-3.pt-3
        .contept-content-recommendations-spaces
            .concept_title
                h2 Concept tương tự 
                    .project-photo_img.my-2
                        .owl-carousel.owl-theme.owl-carousel-concept
                            .item
                                .box-img
                                    a(href="./concept.html")
                                        img(src="https://st.hzcdn.com/simgs/82b12df704bd4c8a_9-8533/contemporary-bedroom.jpg")
                            .item
                                .box-img
                                    a(href="./concept.html")
                                        img(src="https://st.hzcdn.com/simgs/82b12df704bd4c8a_9-8533/contemporary-bedroom.jpg")
                            .item
                                .box-img
                                    a(href="./concept.html")
                                        img(src="https://st.hzcdn.com/simgs/82b12df704bd4c8a_9-8533/contemporary-bedroom.jpg")
                            .item
                                .box-img
                                    a(href="./concept.html")
                                        img(src="https://st.hzcdn.com/simgs/82b12df704bd4c8a_9-8533/contemporary-bedroom.jpg")
    
                    

