.container-fluid
    .item-detail
        include ./../partials/concept-info.pug
.bg-deepgrey  
    .container-fluid
        .owl-carousel.owl-theme.owl-carousel-concept.my-3
            .item
                .product-favourite.my-3
                    a(href="./product-detail.html")
                        .row
                            .col-4
                                .img-favourite.bg-white
                                    img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                            .col-8.d-flex.align-items-center
                                .product-item-info
                                    .product-price.d-flex.justify-content-arround.align-items-center
                                        p.current-price 2,372,000 VND
                                    .cursor-pointer
                                        h6.product-info-title Ghế thư giãn barcelona
                                        .product-stars-rating
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
            .item
                .product-favourite.my-3
                    a(href="./product-detail.html")
                        .row
                            .col-4
                                .img-favourite.bg-white
                                    img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                            .col-8.d-flex.align-items-center
                                .product-item-info
                                    .product-price.d-flex.justify-content-arround.align-items-center
                                        p.current-price 2,372,000 VND
                                    .cursor-pointer
                                        h6.product-info-title Ghế thư giãn barcelona
                                        .product-stars-rating
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
            .item
                .product-favourite.my-3
                    a(href="./product-detail.html")
                        .row
                            .col-4
                                .img-favourite.bg-white
                                    img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                            .col-8.d-flex.align-items-center
                                .product-item-info
                                    .product-price.d-flex.justify-content-arround.align-items-center
                                        p.current-price 2,372,000 VND
                                    .cursor-pointer
                                        h6.product-info-title Ghế thư giãn barcelona
                                        .product-stars-rating
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
            .item
                .product-favourite.my-3
                    a(href="./product-detail.html")
                        .row
                            .col-4
                                .img-favourite.bg-white
                                    img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                            .col-8.d-flex.align-items-center
                                .product-item-info
                                    .product-price.d-flex.justify-content-arround.align-items-center
                                        p.current-price 2,372,000 VND
                                    .cursor-pointer
                                        h6.product-info-title Ghế thư giãn barcelona
                                        .product-stars-rating
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star

.product-info.container-fluid
    .tab-wrapper
        ul.tabs
            li.tab-title
                a(href="#tab-main-info") Mô tả concept
            li.tab-title
                a(href="#tab-specification") Hỏi đáp
        .tab-content
            .tab-item-content#tab-main-info
                .infor-category
                    .my-2
                        p.font-weight-bold Bàn cafe struktur - thiết kế xếp tầng độc đáo
                        span Thiết kế xếp tầng độc đáo của chiếc bàn cafe mang lại sự dễ chịu với chất liệu cao cấp, mang tính thẩm mỹ cao.
                    .my-2
                        p.font-weight-bold Chất liệu đa dạng, cao cấp
                        span Với việc dùng những chất liệu cao cấp như: Đá Quartz, thép sơn tĩnh điện và gỗ Veneer. Giúp khách hàng có nhiều sự lựa chọn để phù hợp với thiết kế của ngôi nhà.
                    .my-2
                        p.font-weight-bold Dễ dàng trong bảo quản
                        span Vật liệu được sơn phủ lớp tĩnh điện bền chắc, chống trầy xước, rất an toàn và không gây hại sức khỏe.
            .tab-item-content#tab-specification
                .product-policy.py-3
                    h3.font-weight-bold Chính sách và các nội dung liên quan
                    #viewToggle.read-less
                        p
                            span.font-weight-bold.mr-2 1. Bảo hành:
                            span 24 tháng
                        span.font-weight-bold 2. Chính sách đổi trả:
                        ul.ml-4.my-3
                            li Nếu sản phẩm không nguyên mới, nguyên vẹn và không đúng chất lượng của nhà sản xuất, quý khách vui lòng thông báo trong 48 giờ kể từ thời điểm nhận hàng. Thời gian thực hiện việc đổi trả sẽ từ 07 - 14 ngày kể từ ngày nhận hàng.
                            li Có thể đổi trả trong vòng 7 ngày kể từ ngày nhận hàng nếu sản phẩm: bị lỗi do nhà sản xuất / được giao không đúng với đơn đặt hàng.
                            li Điều kiện: Sản phẩm phải còn nguyên vẹn , không trầy xước và còn tem của Relax Art. Khách hàng phải có hóa đơn hoặc phiếu bảo hành của Relax Art .
.container-fluid
    #banner-product.custom-banner
        .banner-product
            .row
                .col-md-6.my-2
                    .box-banner-product
                        .img-banner-product
                            img(src="https://xuongmocgocongnghiep.com/upload/slider/xuongmocgocongnghiep.jpg", alt="")
                .col-md-6.my-2
                    .box-banner-product
                        .img-banner-product
                            img(src="https://xuongmocgocongnghiep.com/upload/slider/xuongmocgocongnghiep.jpg", alt="")
    .product-list
        .product-list-title.d-flex.justify-content-between.align-items-center.mb-2
            h3.px-0 Sản phẩm liên quan
        include ./../partials/list-product-detail.pug
    .container-fluid
    include ./carousel-banner.pug

    .bg-white.py-4
        .container-fluid.wrapper-content
            .my-2
                include ./hot-keyword.pug