
.product-info.container-fluid.mt-4.px-0.mb-2  
    .page-link-detail
        a(href="#") Home
        span >
        a(href="#") Furnist
        span >
        a(href="#") Product
.product-info.container-fluid.px-0  
    .row
        .col-md-8
            .concept-img-area
                #left-concept
                    include ./../partials/product-concept.pug
        .col-md-4
            .concept-info-area
                include ./../partials/concept-info-content.pug


                    