.container-fluid.pd-custom-layout.bg-white#draw
    .title-introduce
        h3 Thiết kế căn hộ
    p.text-introduce Với các loại diện tích : 80m2 - 87m2 - 94m2 - 95m2 được thiết kế vô cùng hợp lý với các không gian thoải mái.
    .title-introduce
        h5 Thiết kế căn hộ 3PN loại diện tích 80 m#[sup 2]: 
    .img-ground
        a(href="./concept.html")
            .tag-item.item-bed-room-1
                <i class="fas fa-tag"></i>
        a(href="./concept.html")
            .tag-item.item-living-room-1
                <i class="fas fa-tag"></i>
        a(href="./concept.html")
            .tag-item.item-bath-room-1
                <i class="fas fa-tag"></i>
        img(src="https://canhoquan7.info/uploads/noidung/images/eco-green-sai-gon-hr1a-b2.jpg", alt="")
    .title-introduce
        h5 Thiết kế căn hộ 3PN loại diện tích 87 m#[sup 2]: 
    .img-ground
        a(href="./concept.html")
            .tag-item.item-bed-room-2
                <i class="fas fa-tag"></i>
        a(href="./concept.html")
            .tag-item.item-living-room-2
                <i class="fas fa-tag"></i>
        a(href="./concept.html")
            .tag-item.item-bath-room-2
                <i class="fas fa-tag"></i>
        img(src="https://canhoquan7.info/uploads/noidung/images/87m2.jpg", alt="")
    .title-introduce
        h5 Thiết kế căn hộ 3PN loại diện tích 94 m#[sup 2]: 
    .img-ground
        a(href="./concept.html")
            .tag-item.item-bed-room-3
                <i class="fas fa-tag"></i>
        a(href="./concept.html")
            .tag-item.item-living-room-3
                <i class="fas fa-tag"></i>
        a(href="./concept.html")
            .tag-item.item-bath-room-3
                <i class="fas fa-tag"></i>
        img(src="https://canhoquan7.info/uploads/noidung/images/94m2.jpg", alt="")
    .title-introduce
        h5 Thiết kế căn hộ 3PN loại diện tích 95 m#[sup 2]: 
    .img-ground
        a(href="./concept.html")
            .tag-item.item-bed-room-4
                <i class="fas fa-tag"></i>
        a(href="./concept.html")
            .tag-item.item-living-room-4
                <i class="fas fa-tag"></i>
        a(href="./concept.html")
            .tag-item.item-bath-room-4
                <i class="fas fa-tag"></i>
        img(src="https://canhoquan7.info/uploads/noidung/images/95m2.jpg", alt="")