#favourite-product
    .favourite-product
        .row
            .col-md-4.col-sm-6
                .box-favourite
                    .title-favourite
                        h3 Sản phẩm đã xem
                    .product-favourite.my-3
                        .row
                            .col-4
                                .img-favourite
                                    img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                            .col-8.d-flex.align-items-center
                                .product-item-info
                                    .product-price.d-flex.justify-content-arround.align-items-center
                                        p.current-price 2,372,000 VND
                                    .cursor-pointer
                                        h6.product-info-title Ghế thư giãn barcelona
                                        .product-stars-rating
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star

                    .product-favourite.my-3
                        .row
                            .col-4
                                .img-favourite
                                    img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                            .col-8.d-flex.align-items-center
                                .product-item-info
                                    .product-price.d-flex.justify-content-arround.align-items-center
                                        p.current-price 2,372,000 VND
                                    .cursor-pointer
                                        h6.product-info-title Ghế thư giãn barcelona
                                        .product-stars-rating
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
                    .product-favourite.my-3
                        .row
                            .col-4
                                .img-favourite
                                    img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                            .col-8.d-flex.align-items-center
                                .product-item-info
                                    .product-price.d-flex.justify-content-arround.align-items-center
                                        p.current-price 2,372,000 VND
                                    .cursor-pointer
                                        h6.product-info-title Ghế thư giãn barcelona
                                        .product-stars-rating
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
                    .product-favourite.my-3
                        .row
                            .col-4
                                .img-favourite
                                    img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                            .col-8.d-flex.align-items-center
                                .product-item-info
                                    .product-price.d-flex.justify-content-arround.align-items-center
                                        p.current-price 2,372,000 VND
                                    .cursor-pointer
                                        h6.product-info-title Ghế thư giãn barcelona
                                        .product-stars-rating
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span.active
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
                                            span
                                                i.fas.fa-star
                                        
                .load-more
                    button.btn.btn-loadMore.max-width-btn Xem thêm
        
            .col-md-4.col-sm-6
                    .box-favourite
                        .title-favourite
                            h3 Dành cho bạn
                        .product-favourite.my-3
                            .row
                                .col-4
                                    .img-favourite
                                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                                .col-8.d-flex.align-items-center
                                    .product-item-info
                                        .product-price.d-flex.justify-content-arround.align-items-center
                                            p.current-price 2,372,000 VND
                                        .cursor-pointer
                                            h6.product-info-title Ghế thư giãn barcelona
                                            .product-stars-rating
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star

                        .product-favourite.my-3
                            .row
                                .col-4
                                    .img-favourite
                                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                                .col-8.d-flex.align-items-center
                                    .product-item-info
                                        .product-price.d-flex.justify-content-arround.align-items-center
                                            p.current-price 2,372,000 VND
                                        .cursor-pointer
                                            h6.product-info-title Ghế thư giãn barcelona
                                            .product-stars-rating
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                        .product-favourite.my-3
                            .row
                                .col-4
                                    .img-favourite
                                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                                .col-8.d-flex.align-items-center
                                    .product-item-info
                                        .product-price.d-flex.justify-content-arround.align-items-center
                                            p.current-price 2,372,000 VND
                                        .cursor-pointer
                                            h6.product-info-title Ghế thư giãn barcelona
                                            .product-stars-rating
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                        .product-favourite.my-3
                            .row
                                .col-4
                                    .img-favourite
                                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                                .col-8.d-flex.align-items-center
                                    .product-item-info
                                        .product-price.d-flex.justify-content-arround.align-items-center
                                            p.current-price 2,372,000 VND
                                        .cursor-pointer
                                            h6.product-info-title Ghế thư giãn barcelona
                                            .product-stars-rating
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                                            
                    .load-more
                        button.btn.btn-loadMore.max-width-btn Xem thêm
            
            .col-md-4.col-sm-6.mx-auto
                    .box-favourite
                        .title-favourite
                            h3 Yêu thích
                        .product-favourite.my-3
                            .row
                                .col-4
                                    .img-favourite
                                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                                .col-8.d-flex.align-items-center
                                    .product-item-info
                                        .product-price.d-flex.justify-content-arround.align-items-center
                                            p.current-price 2,372,000 VND
                                        .cursor-pointer
                                            h6.product-info-title Ghế thư giãn barcelona
                                            .product-stars-rating
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star

                        .product-favourite.my-3
                            .row
                                .col-4
                                    .img-favourite
                                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                                .col-8.d-flex.align-items-center
                                    .product-item-info
                                        .product-price.d-flex.justify-content-arround.align-items-center
                                            p.current-price 2,372,000 VND
                                        .cursor-pointer
                                            h6.product-info-title Ghế thư giãn barcelona
                                            .product-stars-rating
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                        .product-favourite.my-3
                            .row
                                .col-4
                                    .img-favourite
                                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                                .col-8.d-flex.align-items-center
                                    .product-item-info
                                        .product-price.d-flex.justify-content-arround.align-items-center
                                            p.current-price 2,372,000 VND
                                        .cursor-pointer
                                            h6.product-info-title Ghế thư giãn barcelona
                                            .product-stars-rating
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                        .product-favourite.my-3
                            .row
                                .col-4
                                    .img-favourite
                                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="Product Image")
                                .col-8.d-flex.align-items-center
                                    .product-item-info
                                        .product-price.d-flex.justify-content-arround.align-items-center
                                            p.current-price 2,372,000 VND
                                        .cursor-pointer
                                            h6.product-info-title Ghế thư giãn barcelona
                                            .product-stars-rating
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span.active
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                                                span
                                                    i.fas.fa-star
                                            
                    .load-more
                        button.btn.btn-loadMore.max-width-btn Xem thêm
