#footer-content
    .footer-content.wrapper-footer
        .search
            .container-fluid
                .search-bar.input-group
                    .row.w-100.align-items-center.mx-0
                        .col-lg-6.px-0
                            h6.title.d-flex.align-items-center
                                <i class="far fa-envelope mr-2" style="font-size:30px"></i>
                                | Đăng ký nhận thông tin khuyến mãi
                        .col-lg-6.px-0
                            .input-bar.w-100.px-0
                                input.form-control(type="text" placeholder="Nhập email của bạn")
                                button.btn.btn-sending.px-4 Đăng ký
        .contact
            .container-fluid
                .row.m-0.py-3
                    .contact-detail.col-md-3
                        p.footer-title-highlight.my-2 Liên hệ
                        .contact-content.content-data
                            ul
                                li
                                    span.footer-title-highlight Hot line: 
                                    span 01683540351
                                li
                                    span.footer-title-highlight Address: 
                                    span 672 đường số 6 phường Tân Hương quận Tân Phú tp.HCM
                                li
                                    span.footer-title-highlight Email:
                                    span techersoft@gmail.com
                            .footer-logo.my-2
                                img(src="http://logofaves.com/wp-content/uploads/2012/07/art_r.jpg?9cf02b")
                    .about-us.col-md-4
                        p.footer-title-highlight.my-2 Về chúng tôi
                        .content-data
                            ul
                                li
                                    a(href="") Giới thiệu
                                li
                                    a(href="") Thông tin cá nhân được bảo mật
                                li
                                    a(href="") Chính sách bảo mật và thanh toán
                                li
                                    a(href="") Quy chế hoạt động và những điều khoản tham gia 
                                li 
                                    a(href="") Bán hàng cùng chúng tôi   
                    .customer-support.col-md-3
                        p.footer-title-highlight.my-2 Hỗ trợ khách hàng
                        .content-data
                            ul
                                li
                                    a(href="") Q & A
                                li
                                    a(href="") Hướng dẫn đặt hàng
                                li
                                    a(href="") Hướng dẫn trải nghiệm home concept
                                li
                                    a(href="") Quy trình đổi trả lại hàng
                                li
                                    a(href="") Giải quyết khiếu nại của khách hàng
                    .language.col-md-2
                        p.footer-title-highlight.my-2 Ngôn ngữ
                        .content-data
                            ul
                                li
                                    a(href="") 语言
                                li
                                    a(href="") 言語
                                li
                                    a(href="") 언어
                                li
                                    a(href="") Linguagem
                                li
                                    a(href="") язык
                                li
                                    a(href="") Sprache
                                li
                                    a(href="") Lingua
                                li
                                    a(href="") La langue
                                li
                                    a(href="") Idioma
                                li
                                    a(href="") Sermone

        .co-operrate.p-0
            .end-footer
                .container-fluid
                    .row.m-0.py-3
                        .dipoma.m-0.col-md-6.col-xl-5
                            .content.px-2.mb-2
                                p.footer-title-highlight.mb-3 Copyright © 2019 
                                    a(href="#") Stickup
                                    | . All rights reserved.
                                .social-icon
                                    .icon.d-flex
                                        <i class="fab fa-facebook mr-2"></i>
                                        <i class="fab fa-twitter-square mr-2"></i>
                                        <i class="fab fa-linkedin mr-2"></i>
                                        <i class="fab fa-instagram mr-2"></i>
                            .image-diploma
                                img(src="https://fitin.vn/images/dadangky.png")
                                img(src="https://fitin.vn/images/dadangky.png")
                        .social-contact.col-md-6.col-xl-2.d-flex.align-items-center.flex-wrap
                            .app-download.d-flex.p-0
                                img.m-0(src="https://cdn-web.qr-code-generator.com/wp-content/themes/qr/new_structure/assets/media/images/api_page/qrcodes/bw/Api_page_-_QR-Code-Generator_com-1.png", alt="")
                                p.footer-title-highlight Download app
                        .payment.col-lg-12.col-xl-5
                            .content.mb-3
                                p Allow payment base on
                            .logo-payment
                                img.mr-1(src="https://ps.w.org/official-skrill-woocommerce/assets/icon-256x256.jpg?rev=1605877")
                                img.mr-1(src="https://cdn.pixabay.com/photo/2013/12/08/12/12/bitcoin-225080_960_720.png")
                                img.mr-1(src="https://upload.wikimedia.org/wikipedia/commons/f/fa/American_Express_logo_%282018%29.svg")
                                img.mr-1(src="https://seeklogo.net/wp-content/uploads/2016/09/paypal-logo-preview.png")
                                img.mr-1(src="https://banner2.cleanpng.com/20181128/gkr/kisspng-mastercard-logo-visa-credit-card-portable-network-mastercard-plus-datacenter-trkiyeampaposde-5bfe50c6987830.6480665815433934786245.jpg")
                                img.mr-1(src="https://upload.wikimedia.org/wikipedia/commons/1/16/Former_Visa_%28company%29_logo.svg")
                                