#hot-keyword
    .hot-keyword
        .title-favourite
            h3 Từ khóa hot
        .owl-carousel.owl-theme.owl-carousel-hotkey.my-2
            .item.hot-keyword
                .btn-hot-keyword.bg-orange
                    a(href="./categories.html") Giường ngủ
                
            .item.hot-keyword
                .btn-hot-keyword.bg-gb
                    a(href="./categories.html") Tủ quần áo
                
            .item.hot-keyword
                .btn-hot-keyword.bg-custom-green
                    a(href="./categories.html") Tủ tivi

            .item.hot-keyword
                .btn-hot-keyword.bg-custom-pink
                    a(href="./categories.html") Đèn ngủ
                
            .item.hot-keyword
                .btn-hot-keyword.bg-silver
                    a(href="./categories.html") Gương soi lớn
                
            .item.hot-keyword
                .btn-hot-keyword.bg-brown
                    a(href="./categories.html") Ghế ăn

            .item.hot-keyword
                .btn-hot-keyword.bg-pink
                    a(href="./categories.html") Sofa phòng khách
            
            .item.hot-keyword
                .btn-hot-keyword.bg-purple
                    a(href="./categories.html") Bàn ăn
                
            
        .carousel-trademark.my-5
            .owl-carousel.owl-theme.owl-carousel-trademark
                .item.trademark
                    a(href="./shop.html")
                        .img-trademark
                            img(src="https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png", alt="")
                    
                .item.trademark
                    a(href="./shop.html")
                        .img-trademark
                            img(src="https://cdn.fitin.vn/cms-ecom/images/2019/11/01/dong-nhan-1572594837.png", alt="")
                    
                .item.trademark
                    a(href="./shop.html")
                        .img-trademark
                            img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png", alt="")

                .item.trademark
                    a(href="./shop.html")
                        .img-trademark
                            img(src="https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png", alt="")
                    
                .item.trademark
                    a(href="./shop.html")
                        .img-trademark
                            img(src="https://cdn.fitin.vn/cms-ecom/images/2019/11/01/dong-nhan-1572594837.png", alt="")

                .item.trademark
                    a(href="./shop.html")
                        .img-trademark
                            img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png", alt="")