#hot-keyword
    .hot-keyword
        .title-favourite
            h3 Từ khóa hot
        .owl-carousel.owl-theme.owl-carousel-hotkey.my-2
            .item.hot-keyword
                .btn-hot-keyword.bg-orange
                    a(href="#") Giường ngủ
                
            .item.hot-keyword
                .btn-hot-keyword.bg-gb
                    a(href="#") Tủ quần áo
                
            .item.hot-keyword
                .btn-hot-keyword.bg-custom-green
                    a(href="#") Tủ tivi

            .item.hot-keyword
                .btn-hot-keyword.bg-custom-pink
                    a(href="#") Đèn ngủ
                
            .item.hot-keyword
                .btn-hot-keyword.bg-silver
                    a(href="#") Gương soi lớn
                
            .item.hot-keyword
                .btn-hot-keyword.bg-brown
                    a(href="#") Ghế ăn

            .item.hot-keyword
                .btn-hot-keyword.bg-pink
                    a(href="#") Sofa phòng khách
            
            .item.hot-keyword
                .btn-hot-keyword.bg-purple
                    a(href="#") Bàn ăn
                
            
        .carousel-trademark.my-5
            .owl-carousel.owl-theme.owl-carousel-trademark
                .item.trademark
                    .img-trademark
                        img(src="https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png", alt="")
                    
                .item.trademark
                    .img-trademark
                        img(src="https://cdn.fitin.vn/cms-ecom/images/2019/11/01/dong-nhan-1572594837.png", alt="")
                    
                .item.trademark
                    .img-trademark
                        img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png", alt="")

                .item.trademark
                    .img-trademark
                        img(src="https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png", alt="")
                    
                .item.trademark
                    .btn-trademark
                        img(src="https://cdn.fitin.vn/cms-ecom/images/2019/11/01/dong-nhan-1572594837.png", alt="")

                .item.trademark
                    .img-trademark
                        img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png", alt="")