.product-list-slider
    .row
        .col-sm-6.col-md-4.col-xl-3.my-3   
            .product-item.bg-white
                    .product-item-header
                        .product-item-badges
                            span.discount -20%
                            span.status.unlike.cursor-pointer
                                i.far.fa-heart
                        a.product-item-image(href='./product-detail.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg', alt='Product Image')
                    .product-item-body.mt-1
                        .product-item-slider.owl-carousel.owl-carousel-2
                            .thumbnail-item.active
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0011-1572576410.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0018-1572576412.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona0036-1572576414.jpg', alt='Product Image')
                        .product-item-info.px-3.py-2
                            .product-price.d-flex.justify-content-arround.align-items-center
                                p.mr-2.current-price 23,672,000 VND
                                p.mr-2.old-price 29,590,000 VND
                            a.cursor-pointer(href='./product-detail.html')
                                h3.product-info-title.my-2 Ghế Thư Giãn Barcelona
                                .product-location.my-2 Hồ Chí Minh
                                .product-stars-rating.my-2
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span.count-rating (30)
                                
                    .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                        .add-cart
                            a(href="./cart.html") 
                                <i class="fas fa-cart-plus"></i>
                                | Thêm giỏ hàng

                        .product-provider
                            a(href='./shop.html')
                                img(src='https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png', alt='')

        .col-sm-6.col-md-4.col-xl-3.my-3   
            .product-item.bg-white
                    .product-item-header
                        .product-item-badges
                            span.discount -20%
                            span.status.unlike.cursor-pointer
                                i.far.fa-heart
                        a.product-item-image(href='./product-detail.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-3-1575624599.jpg', alt='Product Image')
                    .product-item-body.mt-1
                        .product-item-slider.owl-carousel.owl-carousel-2
                            .thumbnail-item.active
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/vivacph-coffeetable-ohw-0000-1572591277.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-4-1575624599.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-5-1575624599.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-6-1575624600.jpg', alt='Product Image')
                        .product-item-info.px-3.py-2
                            .product-price.d-flex.justify-content-arround.align-items-center
                                p.mr-2.current-price 2,172,000 VND
                                p.mr-2.old-price 2,590,000 VND
                            a.cursor-pointer(href='./product-detail.html')
                                h3.product-info-title.my-2 Ghế dây dù Madrid
                                .product-location.my-2 Hồ Chí Minh
                                .product-stars-rating.my-2
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span.count-rating (20)
                                
                    .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                        .add-cart
                            a(href="./cart.html") 
                                <i class="fas fa-cart-plus"></i>
                                | Thêm giỏ hàng

                        .product-provider
                            a(href='./shop.html')
                                img(src='https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png', alt='')

        .col-sm-6.col-md-4.col-xl-3.my-3   
            .product-item.bg-white
                    .product-item-header
                        .product-item-badges
                            span.discount -20%
                            span.status.unlike.cursor-pointer
                                i.far.fa-heart
                        a.product-item-image(href='./product-detail.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/27/jysk-bed-362090286-millinge-0000-1574838367.jpg', alt='Product Image')
                    .product-item-body.mt-1
                        .product-item-slider.owl-carousel.owl-carousel-2
                            .thumbnail-item.active
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/27/jysk-bed-362090286-millinge-0000-1574838367.jpg", alt="Product Image")
                            .thumbnail-item
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/27/jysk-bed-362090286-millinge-0014-1574838385.jpg", alt="Product Image")
                            .thumbnail-item
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/27/jysk-bed-362090286-millinge-0025-1574838386.jpg", alt="Product Image")
                            .thumbnail-item
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/27/jysk-bed-362090286-millinge-0030-1574838388.jpg", alt="Product Image")
                        .product-item-info.px-3.py-2
                            .product-price.d-flex.justify-content-arround.align-items-center
                                p.mr-2.current-price 2,172,000 VND
                                p.mr-2.old-price 2,590,000 VND
                            a.cursor-pointer(href='./product-detail.html')
                                h3.product-info-title.my-2 Khung giường millinge
                                .product-location.my-2 Hồ Chí Minh
                                .product-stars-rating.my-2
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span.count-rating (20)
                                
                    .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                        .add-cart
                            a(href="./cart.html") 
                                <i class="fas fa-cart-plus"></i>
                                | Thêm giỏ hàng

                        .product-provider
                            a(href='./shop.html')
                                img(src='https://cdn.fitin.vn/cms-ecom/images/2019/11/01/dong-nhan-1572594837.png', alt='')

        .col-sm-6.col-md-4.col-xl-3.my-3   
            .product-item.bg-white
                    .product-item-header
                        .product-item-badges
                            span.new-tag New
                            span.status.unlike.cursor-pointer
                                i.far.fa-heart
                        a.product-item-image(href='./product-detail.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-3-1575624599.jpg', alt='Product Image')
                    .product-item-body.mt-1
                        .product-item-slider.owl-carousel.owl-carousel-2
                            .thumbnail-item.active
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/vivacph-coffeetable-ohw-0000-1572591277.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-4-1575624599.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-5-1575624599.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-6-1575624600.jpg', alt='Product Image')
                        .product-item-info.px-3.py-2
                            .product-price.d-flex.justify-content-arround.align-items-center
                                p.mr-2.current-price 2,172,000 VND
                                p.mr-2.old-price 2,590,000 VND
                            a.cursor-pointer(href='./product-detail.html')
                                h3.product-info-title.my-2 Ghế dây dù Madrid
                                .product-location.my-2 Hồ Chí Minh
                                .product-stars-rating.my-2
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span.count-rating (20)
                                
                    .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                        .add-cart
                            a(href="./cart.html") 
                                <i class="fas fa-cart-plus"></i>
                                | Thêm giỏ hàng

                        .product-provider
                            a(href='./shop.html')
                                img(src='https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png', alt='')
    
        .col-sm-6.col-md-4.col-xl-3.my-3   
            .product-item.bg-white
                    .product-item-header
                        .product-item-badges
                            span.new-tag New
                            span.status.unlike.cursor-pointer
                                i.far.fa-heart
                        a.product-item-image(href='./product-detail.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0000-1566901590.jpg', alt='Product Image')
                    .product-item-body.mt-1
                        .product-item-slider.owl-carousel.owl-carousel-2
                            .thumbnail-item.active
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0000-1566901590.jpg", alt="Product Image")
                            .thumbnail-item
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0031-1566901597.jpg", alt="Product Image")
                            .thumbnail-item
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0019-1566901597.jpg", alt="Product Image")
                            .thumbnail-item
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0053-1566901597.jpg", alt="Product Image")
                        .product-item-info.px-3.py-2
                            .product-price.d-flex.justify-content-arround.align-items-center
                                p.mr-2.current-price 2,372,000 VND
                                p.mr-2.old-price 2,790,000 VND
                            a.cursor-pointer(href='./product-detail.html')
                                h3.product-info-title.my-2 Giường Providence
                                .product-location.my-2 Hồ Chí Minh
                                .product-stars-rating.my-2
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span.count-rating (20)
                                
                    .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                        .add-cart
                            a(href="./cart.html") 
                                <i class="fas fa-cart-plus"></i>
                                | Thêm giỏ hàng

                        .product-provider
                            a(href='./shop.html')
                                img(src='https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png', alt='')

        .col-sm-6.col-md-4.col-xl-3.my-3   
            .product-item.bg-white
                    .product-item-header
                        .product-item-badges
                            span.selling-tag Top #[span 1]
                            span.status.unlike.cursor-pointer
                                i.far.fa-heart
                        a.product-item-image(href='./product-detail.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/10/21/jysk-bed-vedde0000-1571632207.jpg', alt='Product Image')
                    .product-item-body.mt-1
                        .product-item-slider.owl-carousel.owl-carousel-2
                            .thumbnail-item.active
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/10/21/jysk-bed-vedde0000-1571632207.jpg", alt="Product Image")
                            .thumbnail-item
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/10/21/jysk-bed-vedde0008-1571632212.jpg", alt="Product Image")
                            .thumbnail-item
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/10/21/jysk-bed-vedde0018-1571632219.jpg", alt="Product Image")
                            .thumbnail-item
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/10/21/jysk-bed-vedde0051-1571632223.jpg", alt="Product Image")
                        .product-item-info.px-3.py-2
                            .product-price.d-flex.justify-content-arround.align-items-center
                                p.mr-2.current-price 2,372,000 VND
                                p.mr-2.old-price 2,790,000 VND
                            a.cursor-pointer(href='./product-detail.html')
                                h3.product-info-title.my-2 Giường Vedde
                                .product-location.my-2 Hồ Chí Minh
                                .product-stars-rating.my-2
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span.count-rating (20)
                                
                    .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                        .add-cart
                            a(href="./cart.html") 
                                <i class="fas fa-cart-plus"></i>
                                | Thêm giỏ hàng

                        .product-provider
                            a(href='./shop.html')
                                img(src='https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png', alt='')
        
        .col-sm-6.col-md-4.col-xl-3.my-3   
            .product-item.bg-white
                    .product-item-header
                        .product-item-badges
                            span.selling-tag Top #[span 1]
                            span.status.unlike.cursor-pointer
                                i.far.fa-heart
                        a.product-item-image(href='./product-detail.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-3-1575624599.jpg', alt='Product Image')
                    .product-item-body.mt-1
                        .product-item-slider.owl-carousel.owl-carousel-2
                            .thumbnail-item.active
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/vivacph-coffeetable-ohw-0000-1572591277.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-4-1575624599.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-5-1575624599.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-6-1575624600.jpg', alt='Product Image')
                        .product-item-info.px-3.py-2
                            .product-price.d-flex.justify-content-arround.align-items-center
                                p.mr-2.current-price 2,172,000 VND
                                p.mr-2.old-price 2,590,000 VND
                            a.cursor-pointer(href='./product-detail.html')
                                h3.product-info-title.my-2 Ghế dây dù Madrid
                                .product-location.my-2 Hồ Chí Minh
                                .product-stars-rating.my-2
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span.count-rating (20)
                                
                    .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                        .add-cart
                            a(href="./cart.html") 
                                <i class="fas fa-cart-plus"></i>
                                | Thêm giỏ hàng

                        .product-provider
                            a(href='./shop.html')
                                img(src='https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png', alt='')
    
        .col-sm-6.col-md-4.col-xl-3.my-3   
            .product-item.bg-white
                    .product-item-header
                        .product-item-badges
                            span.selling-tag Top #[span 1]
                            span.status.unlike.cursor-pointer
                                i.far.fa-heart
                        a.product-item-image(href='./product-detail.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0000-1566901590.jpg', alt='Product Image')
                    .product-item-body.mt-1
                        .product-item-slider.owl-carousel.owl-carousel-2
                            .thumbnail-item.active
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0000-1566901590.jpg", alt="Product Image")
                            .thumbnail-item
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0031-1566901597.jpg", alt="Product Image")
                            .thumbnail-item
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0019-1566901597.jpg", alt="Product Image")
                            .thumbnail-item
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0053-1566901597.jpg", alt="Product Image")
                        .product-item-info.px-3.py-2
                            .product-price.d-flex.justify-content-arround.align-items-center
                                p.mr-2.current-price 2,372,000 VND
                                p.mr-2.old-price 2,790,000 VND
                            a.cursor-pointer(href='./product-detail.html')
                                h3.product-info-title.my-2 Giường Providence
                                .product-location.my-2 Hồ Chí Minh
                                .product-stars-rating.my-2
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span.count-rating (20)
                                
                    .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                        .add-cart
                            a(href="./cart.html") 
                                <i class="fas fa-cart-plus"></i>
                                | Thêm giỏ hàng

                        .product-provider
                            a(href='./shop.html')
                                img(src='https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png', alt='')