#living-space
    .container-fluid
        .page-link-detail.mt-3.mb-2
            a(href="./index.html") Home 
                span >
            a(href="./shop.html") Living
        .living-space
            .title-living.my-2
                h3 Không gian sống
            .row
                .col-md-4.col-sm-6
                    h5.my-2 Hướng dẫn sử dụng sản phẩm
                    ul
                        li Có thể dễ dàng lau chùi với các sản phẩm tẩy rửa thông thường.
                        li Không sử dụng các chất tẩy rửa gây mài mòn bề mặt, nên pha loãng chất tẩy rửa với nước, sử dụng một miếng vải mềm để lau, sau đó dùng miếng vải ướt để lau lại, cuối cùng là dùng vải sạch để lau khô bề mặt.
                        li Đối với các vết bẩn cứng đầu như sơn mài, dầu mỡ cũng có thể dễ dàng tẩy rửa bằng các chất tẩy rửa thông thường.
                    .load-more.text-left
                        button.btn.btn-loadMore.max-width-btn Xem thêm
                .col-md-4.col-sm-6
                    h5.my-2 Hướng dẫn bảo quản
                    ul
                        li Nên dùng khăn sạch và mềm vì các hạt bụi bẩn có thể làm trầy xước bề mặt sản phẩm trong quá trình lau chùi.
                        li Đây là loại bề mặt tự nhiên, chỉ cần lau chùi nhẹ nhàng với khăn ẩm thấm nước, không sử dụng chất tẩy rửa gây mài mòn bề mặt.
                        li Đối với các vết bẩn cứng đầu như sơn mài, dầu mỡ cũng có thể dễ dàng tẩy rửa bằng các chất tẩy rửa thông thường.
                    .load-more.text-left
                        button.btn.btn-loadMore.max-width-btn Xem thêm

                .col-md-4.col-sm-6
                    h5.my-2 Hướng dẫn tìm phòng
                    ul
                        li Khoảng tiền thuê nhà trọ 1 tháng chấp nhận được: ? – ?
                        li Vị trí trung tâm: Bạn đặt một vị trí mong muốn làm trung tâm ví dụ như trường, chỗ làm hay nhà người thân. Từ vị trí trung tâm Bạn thu hẹp khu vực tìm kiếm trong vòng bán kính bao nhiêu km ?
                        li Thời gian đóng mở cửa?
                    .load-more.text-left
                        button.btn.btn-loadMore.max-width-btn Xem thêm