.row.mt-4.mx-0
    .col-lg-6
        .title-info-apartment
            h3 Vị trí
            p Được xem là một trong rất ít dự án tại khu Trung Sơn sở hữu vị trí hiếm có khi tọa lạc tại đường Nguyễn Văn Cừ nối dài và có 3 mặt view sông. Nhờ sở hữu vị trí lý tưởng nên vừa đủ để tránh ồn ào nơi phố thị nhưng vẫn đem lại cho cư dân cuộc sống tiện nghi và gần gũi thiên nhiên.
            p Cư dân chỉ mất khoảng 5 phút để vào trung tâm Quận 1 và Khu đô thị Phú Mỹ Hưng, đồng thời dễ dàng tận hưởng những tiện ích hàng đầu chỉ trong bán kính 2km.
        .row.py-3
            .col-md-6
                .location-more
                    i.far.fa-building
                    span Trường học : Trường học quốc tế Singapore
            .col-md-6
                .location-more
                    i.far.fa-building
                    span Trường học : Trường học quốc tế RMIT
            .col-md-6
                .location-more
                    <i class="far fa-futbol"></i>
                    span Khu vui chơi : Khu vui chơi trẻ em Vietopia
            .col-md-6
                .location-more
                    <i class="fas fa-shopping-bag"></i>
                    span Trung tâm thương mại : VIVO City, Lotte Mart
            .col-md-6
                .location-more
                    <i class="fab fa-pagelines"></i>
                    span Khu đô thị xanh : Phú Mỹ Hưng hiện đại
            .col-md-6
                .location-more
                    <i class="fas fa-heartbeat"></i>
                    span FV Hospital (Bệnh viện Pháp Việt), Crescent Mall
    .col-lg-6
        .map-apartment
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d62713.38171532547!2d106.719879!3d10.766328!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdbe1b38b5fabac75!2sHo%20Chi%20Minh%20Museum!5e0!3m2!1sen!2sus!4v1579168448734!5m2!1sen!2sus" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        