include ./datafake.pug
.wrapper-menu.d-flex.container-fluid.wrapper-content
    .bg-wrapper
    include ../partials/side-menu-header.pug
    .menu-desktop.w-100.d-flex
        ul.container-fluid.header-nav-menu.my-0.d-flex.justify-content-between
            li.header-nav-menu_list
                a.header-nav-menu_title(href="./index.html") HOME
            li.header-nav-menu_list
                a.header-nav-menu_title(href="./living-space.html") HƯỚNG DẪN TRẢI NGHIỆM
            li.header-nav-menu_list
                a.header-nav-menu_title(href="./concept.html") KHÔNG GIAN SỐNG
                ul.header-nav-menu_content
                    li 
                        a(href="./list-apartment.html") Chung cư
                    li 
                        a(href="./list-apartment.html") Phòng trọ
            li.header-nav-menu_list
                a.header-nav-menu_title(href="./product-order.html") ĐẶT HÀNG THEO MẪU
            li.header-nav-menu_list
                a.header-nav-menu_title(href="./login.html") LOGIN 
                span  | 
                a.header-nav-menu_title(href="./register.html") REGISTER
.bg-wrapper
.menu-mobile
    .wrapper-logo.py-4
        //- .logo.ml-3
        //-     a(href="./index.html")
        //-         img(src="https://st.hzcdn.com/res/4125/pic/houzz_logo.svg?v=4125", alt="Logo")
        button.btn-close-menu_mobile
            span.wrapper-close-menu_mobile
                span.icon-close-menu_mobile
    .box-item-nav_mobile
        .widget_title.d-flex.justify-content-between.px-3
            a(href="./index.html")
                h6.m-0 HOME
    .box-item-nav_mobile
        .widget_title.d-flex.justify-content-between.px-3
            a(href="./living-space.html")
                h6.m-0 HƯỚNG DẪN TRẢI NGHIỆM
    .box-item-nav_mobile
        .widget_title.d-flex.justify-content-between.px-3
            a(href="./concept.html")
                h6.m-0 KHÔNG GIAN SỐNG
            button.btn-show-menu_mobile
                <i class="fas fa-caret-down"></i>
        ul.container-fluid.header-nav-menu.px-4
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="./list-apartment.html") Chung cư
            .nav-menu_content-box_mobile.my-2
                li.header-nav-menu_title_mobile.d-flex.align-items-center
                    a(href="./list-apartment.html") Phòng trọ
    .box-item-nav_mobile
        .widget_title.d-flex.justify-content-between.px-3
            a(href="./product-order.html")
                h6.m-0 ĐẶT HÀNG THEO MẪU
    .box-item-nav_mobile
        .widget_title.d-flex.px-3
            a(href="./login.html")
                h6.m-0 LOGIN  
            span.mx-1 |  
            a(href="./register.html")
                h6.m-0  REGISTER