aside.menu-sidebar.d-none.d-lg-block
    .logo
        a(href='#')
            img(src='images/icon/logo.png', alt='Cool Admin')
    .menu-sidebar__content.js-scrollbar1.ps.ps--active-y
        nav.navbar-sidebar
            ul.list-unstyled.navbar__list
                li.active.has-sub
                    a.js-arrow(href='#')
                        i.fas.fa-tachometer-alt
                        | Dashboard
                    ul.list-unstyled.navbar__sub-list.js-sub-list
                        li
                            a(href='index.html') Dashboard 1
                        li
                            a(href='index2.html') Dashboard 2
                        li
                            a(href='index3.html') Dashboard 3
                        li
                            a(href='index4.html') Dashboard 4
                li
                    a(href='chart.html')
                        i.fas.fa-chart-bar
                        | Charts
                li
                    a(href='table.html')
                        i.fas.fa-table
                        | Tables
                li
                    a(href='form.html')
                        i.far.fa-check-square
                        | Forms
                li
                    a(href='calendar.html')
                        i.fas.fa-calendar-alt
                        | Calendar
                li
                    a(href='map.html')
                        i.fas.fa-map-marker-alt
                        | Maps
                li.has-sub
                    a.js-arrow(href='#')
                        i.fas.fa-copy
                        | Pages
                    ul.list-unstyled.navbar__sub-list.js-sub-list
                        li
                            a(href='login.html') Login
                        li
                            a(href='register.html') Register
                        li
                            a(href='forget-pass.html') Forget Password
                li.has-sub
                    a.js-arrow(href='#')
                        i.fas.fa-desktop
                        | UI Elements
                    ul.list-unstyled.navbar__sub-list.js-sub-list
                        li
                            a(href='button.html') Button
                        li
                            a(href='badge.html') Badges
                        li
                            a(href='tab.html') Tabs
                        li
                            a(href='card.html') Cards
                        li
                            a(href='alert.html') Alerts
                        li
                            a(href='progress-bar.html') Progress Bars
                        li
                            a(href='modal.html') Modals
                        li
                            a(href='switch.html') Switchs
                        li
                            a(href='grid.html') Grids
                        li
                            a(href='fontawesome.html') Fontawesome Icon
                        li
                            a(href='typo.html') Typography
        .ps__rail-x(style='left: 0px; bottom: 0px;')
            .ps__thumb-x(tabindex='0', style='left: 0px; width: 0px;')
        .ps__rail-y(style='top: 0px; height: 332px; right: 0px;')
            .ps__thumb-y(tabindex='0', style='top: 0px; height: 228px;')