.bg-wrapper
#product-offer
    .product-offer
        .carousel-product
            .product-offer-item.custom-offer
                img(src="https://st.hzcdn.com/simgs/82b12df704bd4c8a_9-8533/contemporary-bedroom.jpg", alt="")
        .info-offer
            .title
                h3 Thông số kỹ thuật 
            .info-detail.row.mx-0
                .col-lg-4.col-sm-6
                    .length.p-3.mt-2.bg-white
                        span Chiều dài (m): 
                        span.pl-2 2,2
                .col-lg-4.col-sm-6
                    .width.p-3.mt-2.bg-white
                        span Chiều rộng (m): 
                        span.pl-2 1
                .col-lg-4.col-sm-6
                    .height.p-3.mt-2.bg-white
                        span Chiều cao (m): 
                        span.pl-2 0,6
                .col-lg-4.col-sm-6
                    .weight.p-3.mt-2.bg-white
                        span Cân nặng (kg): 
                        span.pl-2 80
                .col-lg-4.col-sm-6
                    .material.p-3.mt-2.bg-white
                        span Chất liệu: 
                        span.pl-2 Gỗ