include ../mixins/mixin.pug
.product-list-slider
    .row
        //- 1 
        .col-sm-6.col-md-4   
            .product-item.my-3.bg-white
                    .product-item-header
                        .product-item-badges
                            span.discount -20%
                            span.status.unlike.cursor-pointer
                                i.fas.fa-heart
                        a.product-item-image(href='./product-detail-1.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg', alt='Product Image')
                    .product-item-body.mt-1
                        .product-item-slider.owl-carousel.owl-carousel-2
                            .thumbnail-item.active
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0011-1572576410.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0018-1572576412.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona0036-1572576414.jpg', alt='Product Image')
                        .product-item-info.px-3.pb-3.pt-2
                            a.cursor-pointer(href='#')
                                h3.product-info-title Ghế Thư Giãn Barcelona
                            .d-flex.justify-content-between.align-items-center.pt-3
                                .product-stars-rating
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span.count-rating (30)
                                .product-location Hồ Chí Minh
                    .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                        .product-price
                            p.m-0.current-price 23,672,000 VND
                            p.m-0.old-price 29,590,000 VND
                        .product-provider
                            a(href='./store-homepage-2.html')
                                img(src='https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png', alt='')
        //- 2
        .col-sm-6.col-md-4  
            .product-item.my-3.bg-white
                    .product-item-header
                        .product-item-badges
                            span.discount -10%
                            span.status.unlike.cursor-pointer
                                i.fas.fa-heart
                        a.product-item-image(href='./product-detail-2.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-3-1575624599.jpg', alt='Product Image')
                    .product-item-body.mt-1
                        .product-item-slider.owl-carousel.owl-carousel-2
                            .thumbnail-item.active
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/vivacph-coffeetable-ohw-0000-1572591277.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-4-1575624599.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-5-1575624599.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/den-ghe-day-du-madrid-6-1575624600.jpg', alt='Product Image')
                        .product-item-info.px-3.pb-3.pt-2
                            a.cursor-pointer(href='#')
                                h3.product-info-title Ghế dây dù Madrid
                            .d-flex.justify-content-between.align-items-center.pt-3
                                .product-stars-rating
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span.count-rating (30)
                                .product-location Hồ Chí Minh    
                    .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                        .product-price
                            p.m-0.current-price 1,278,000 VND
                            p.m-0.old-price 1,420,000 VND
                        .product-provider
                            a(href='./store-homepage-1.html')
                                img(src='https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png', alt='')
        //- 3 
        .col-sm-6.col-md-4  
            .product-item.my-3.bg-white
                    .product-item-header
                        .product-item-badges
                            span.discount -10%
                            span.status.unlike.cursor-pointer
                                i.fas.fa-heart
                        a.product-item-image(href='./product-detail-3.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/ghe-don-bora-xanh-3-1575622610.jpg', alt='Product Image')
                    .product-item-body.mt-1
                        .product-item-slider.owl-carousel.owl-carousel-2
                            .thumbnail-item.active
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/ghe-don-bora-xanh-3-1575622610.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/09/ghe-don-bora-xanh-2-1575877209.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/09/ghe-don-bora-xanh-1-1575877213.jpg', alt='Product Image')
                        .product-item-info.px-3.pb-3.pt-2
                            a.cursor-pointer(href='#')
                                h3.product-info-title Ghế sofa đơn Bora
                            .d-flex.justify-content-between.align-items-center.pt-3
                                .product-stars-rating
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span.count-rating (30)
                                .product-location Hồ Chí Minh    
                    .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                        .product-price
                            p.m-0.current-price 5,790,000 VND
                            p.m-0.old-price 6,220,000 VND
                        .product-provider
                            a(href='./store-homepage-1.html')
                                img(src='https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png', alt='')