#product-concept
    .product-concept
        .carousel-product
            .product-concept-item
                img(src="https://st.hzcdn.com/simgs/82b12df704bd4c8a_9-8533/contemporary-bedroom.jpg", alt="")
                .tag-item.item-1
                    <i class="fas fa-tag"></i>
                .tag-item.item-2
                    <i class="fas fa-tag"></i>
            .btn-group-contacts
                button.btn-email.btn.btn-light.mx-1
                    <i class="fas fa-paper-plane"></i>
                    |   Email
                button.btn-save.btn.btn-light.mx-1
                    <i class="fas fa-heart"></i>
                    |   Save
                button.btn-show.btn.btn-light#btn-show-controls
                    <i class="fas fa-ellipsis-h"></i>
                    ul.nav-controls#nav-controls-concept
                        li
                            <i class="fas fa-share-square"></i>
                            span Share
                        li
                            <i class="fas fa-pencil-alt"></i>
                            span Sketch
                        li
                            <i class="fas fa-compress-arrows-alt"></i>
                            span Fullscreen
                        li#btn-control-tags
                            <i class="fas fa-tag color-green"></i>
                            span Hide tags
        .more-product#more-1
            .hide-product close x
            .list-items-concept
                .box-item-concept
                    .box-item
                        h5 Sản phẩm cùng loại
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/27/jysk-bed-362090286-millinge-0000-1574838367.jpg", alt="")
                        p Khung Giường Kèm Dát Edith
                        span $130
                            <i class="fas fa-tag"></i>
                        a(href="./product-detail-10.html").btn Xem sản phẩm
                .box-item-concept
                    .box-item
                        h5 Sản phẩm cùng loại
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/25/mmh-bed-qun-lullaby-grey-gi00000001-13-1577246922.jpg", alt="")
                        p Khung Giường Kèm Dát Edith
                        span $130
                            <i class="fas fa-tag"></i>
                        a(href="./product-detail-8.html").btn Xem sản phẩm
                .box-item-concept
                    .box-item
                        h5 Sản phẩm cùng loại
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/26/jysk-bed-edith-0000-1574740463.jpg", alt="")
                        p Khung Giường Kèm Dát Edith
                        span $130
                            <i class="fas fa-tag"></i>
                        a(href="./product-detail-11.html").btn Xem sản phẩm
                .box-item-concept
                    .box-item
                        h5 Sản phẩm cùng loại
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0000-1566901590.jpg", alt="")
                        p Khung Giường Kèm Dát Edith
                        span $130
                            <i class="fas fa-tag"></i>
                        a(href="./product-detail-13.html").btn Xem sản phẩm
                .box-item-concept
                    .box-item
                        h5 Sản phẩm cùng loại
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/10/21/jysk-bed-vedde0000-1571632207.jpg", alt="")
                        p Khung Giường Kèm Dát Edith
                        span $130
                            <i class="fas fa-tag"></i>
                        a(href="./product-detail-14.html").btn Xem sản phẩm
            a.shop-more(href="./category-product.html") Mua sản phẩm tương tự 
                <i class="fas fa-angle-right"></i>
        .more-product#more-2
            .hide-product close x
            .list-items-concept
                .box-item-concept
                    .box-item
                        h5 Sản phẩm cùng loại
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/06/ghe-don-bora-xanh-3-1575622610.jpg", alt="")
                        p Ghế Thư Giãn Barcelona
                        span $130
                            <i class="fas fa-tag"></i>
                        a(href="./product-detail-3.html").btn Xem sản phẩm
                .box-item-concept
                    .box-item
                        h5 Sản phẩm cùng loại
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg", alt="")
                        p Ghế Thư Giãn Barcelona
                        span $130
                            <i class="fas fa-tag"></i>
                        a(href="./product-detail-1.html").btn Xem sản phẩm
            a.shop-more(href="./category-product.html") Mua sản phẩm tương tự 
                <i class="fas fa-angle-right"></i>

