include ../mixins/mixin.pug
.product-info.container-fluid.mt-4.px-0    
    .page-link-detail
        a(href="./index.html") Home
        span >
        a(href="./shop.html") Furnist
        span >
        a(href="#") Product
    +productDetail
    .tab-wrapper
        ul.container.tabs.px-0
            li.tab-title
                a(href="#tab-main-info") Mô tả sản phẩm
            li.tab-title
                a(href="#tab-specification") Chính sách đổi trả
            li.tab-title
                a(href="#tab-preservation") Hướng dẫn sử dụng
        .container.tab-content.px-0
            .tab-item-content#tab-main-info
                .infor-category
                    .my-2
                        p.font-weight-bold Bàn cafe struktur - thiết kế xếp tầng độc đáo
                        span Thiết kế xếp tầng độc đáo của chiếc bàn cafe mang lại sự dễ chịu với chất liệu cao cấp, mang tính thẩm mỹ cao.
                    .my-2
                        p.font-weight-bold Chất liệu đa dạng, cao cấp
                        span Với việc dùng những chất liệu cao cấp như: Đá Quartz, thép sơn tĩnh điện và gỗ Veneer. Giúp khách hàng có nhiều sự lựa chọn để phù hợp với thiết kế của ngôi nhà.
                    .my-2
                        p.font-weight-bold Dễ dàng trong bảo quản
                        span Vật liệu được sơn phủ lớp tĩnh điện bền chắc, chống trầy xước, rất an toàn và không gây hại sức khỏe.
            .tab-item-content#tab-specification
                .product-policy.py-3
                    h3.font-weight-bold Chính sách và các nội dung liên quan
                    #viewToggle.read-less
                        p
                            span.font-weight-bold.mr-2 1. Bảo hành:
                            span 24 tháng
                        span.font-weight-bold 2. Chính sách đổi trả:
                        ul.ml-4.my-3
                            li Nếu sản phẩm không nguyên mới, nguyên vẹn và không đúng chất lượng của nhà sản xuất, quý khách vui lòng thông báo trong 48 giờ kể từ thời điểm nhận hàng. Thời gian thực hiện việc đổi trả sẽ từ 07 - 14 ngày kể từ ngày nhận hàng.
                            li Có thể đổi trả trong vòng 7 ngày kể từ ngày nhận hàng nếu sản phẩm: bị lỗi do nhà sản xuất / được giao không đúng với đơn đặt hàng.
                            li Điều kiện: Sản phẩm phải còn nguyên vẹn , không trầy xước và còn tem của Relax Art. Khách hàng phải có hóa đơn hoặc phiếu bảo hành của Relax Art .
                    
            .tab-item-content#tab-preservation
                .infor-category
                    span.font-weight-bold Bảo quản
                    ul
                        li Lau chùi bụi bẩn thường xuyên. Có thể sử dụng nước vệ sinh chuyên dụng. Chú ý những khe hở, góc kẹt của nội thất trong quá trình vệ sinh. Tránh để nước chưa khô, còn tồn đọng gây ẩm mốc.
                        li Đánh bóng nội thất hàng tuần và ít nhất 3-4/ lần năm.
                        li Đặt nội thất gỗ công nghiệp tại nơi có ánh sáng vừa đủ, tránh ánh nắng trực tiếp.