.sale-tickets.row.py-3
    .col-3.ticket-content 
        img(src="http://www.promo.in.th/wp-content/uploads/2017/04/4a1d7b1d6a373aafbb02a5cb8074b81a.jpg")
    .col-3.ticket-content
        img(src="http://www.promo.in.th/wp-content/uploads/2017/04/4a1d7b1d6a373aafbb02a5cb8074b81a.jpg")
    .col-3.ticket-content
        img(src="http://www.promo.in.th/wp-content/uploads/2017/04/4a1d7b1d6a373aafbb02a5cb8074b81a.jpg")
    .col-3.ticket-content
        img(src="http://www.promo.in.th/wp-content/uploads/2017/04/4a1d7b1d6a373aafbb02a5cb8074b81a.jpg")
        