#service
    .service
        .box-service
            .row
                .col-lg-3.col-sm-6.my-2
                    .box-content-service
                        .icon-service
                            <i class="fas fa-paper-plane"></i>
                        .text-service
                            span Miễn phí vận chuyển cho tất cả đơn hàng trên $500
                .col-lg-3.col-sm-6.my-2
                    .box-content-service
                        .icon-service
                            <i class="fas fa-stop-circle"></i>
                        .text-service
                            span Đổi trả hàng trong 30 ngày 
                            span Hoàn tiền trong 30 ngày
                .col-lg-3.col-sm-6.my-2
                    .box-content-service
                        .icon-service
                            <i class="fas fa-credit-card"></i>
                        .text-service
                            span Thanh toán qua thẻ Paypal/Master Card/Visa
                .col-lg-3.col-sm-6.my-2
                    .box-content-service
                        .icon-service
                            <i class="fas fa-sync-alt"></i>
                        .text-service
                            span Hỗ trợ 24/7 
                            span Tất cả dịch vụ