#sidebar
    .sidebar-menu.side-menu-header
        .control-side-menu.d-flex.align-items-center
            <i class="fas fa-list"></i>
            span All department
        ul.sub-menu-content
            li.menu-item
                .d-flex.align-items-center.menu-icon-btn
                    span 
                        <i class="fas fa-bed"></i>
                    p.text-side-menu Giường
                    span.menu-icon
                        i.fas.fa-chevron-right
                ul.sub-menu-sidebar
                    li
                        a(href="./categories.html") Giường tầng
                        
                    li
                        a(href="./categories.html") Giường hộc kéo
                        
                    li
                        a(href="./categories.html") Giường đôi
                        
                    li
                        a(href="./categories.html") Giường đơn
                        
            li.menu-item
                .d-flex.align-items-center.menu-icon-btn
                    img(src="../../dist/assets/icon/015-cabinet.png", alt="")
                    p.text-side-menu Tủ
                    span.menu-icon
                        i.fas.fa-chevron-right
                ul.sub-menu-sidebar
                    li
                        a(href="./categories.html") Tủ trang trí
                    li
                        a(href="./categories.html") Tủ ngăn kéo
                    li
                        a(href="./categories.html") Tủ quần áo
                    li
                        a(href="./categories.html") Tủ giày
                    li
                        a(href="./categories.html") Tủ bếp
                        
                    li
                        a(href="./categories.html") Tủ đầu giường
            li.menu-item
                .d-flex.align-items-center.menu-icon-btn
                    img(src="../../dist/assets/icon/022-desk.png", alt="")
                    p.text-side-menu Bàn
                    span.menu-icon
                        i.fas.fa-chevron-right
                ul.sub-menu-sidebar
                    li
                        a(href="./categories.html") Bàn làm việc
                    li
                        a(href="./categories.html") Bàn ăn
                    li
                        a(href="./categories.html") Bàn bar
                    li
                        a(href="./categories.html") Bàn trang trí
            li.menu-item
                .d-flex.align-items-center.menu-icon-btn
                    img(src="../../dist/assets/icon/018-chair.png", alt="")
                    p.text-side-menu Ghế
                    span.menu-icon
                        i.fas.fa-chevron-right
                ul.sub-menu-sidebar
                    li
                        a(href="./categories.html") Ghế làm việc
                    li
                        a(href="./categories.html") Ghế thư giãn
                    li
                        a(href="./categories.html") Ghế bar
                    li
                        a(href="./categories.html") Ghế ăn
            li.menu-item
                .d-flex.align-items-center.menu-icon-btn
                    img(src="../../dist/assets/icon/030-sofa.png", alt="")
                    p.text-side-menu Sofa đơn
                    span.menu-icon
                        i.fas.fa-chevron-right
                ul.sub-menu-sidebar
                    li
                        a(href="./categories.html") Ghế đôn/Ghế lười
                    li
                        a(href="./categories.html") Ghế băng
                    li
                        a(href="./categories.html") Ghế đọc sách
                    li
                        a(href="./categories.html") Ghế bành
            li.menu-item
                .d-flex.align-items-center.menu-icon-btn
                    img(src="../../dist/assets/icon/030-sofa.png", alt="")
                    p.text-side-menu Sofa
                    span.menu-icon
                        i.fas.fa-chevron-right
                ul.sub-menu-sidebar
                    li
                        a(href="./categories.html") Sofa góc
                    li
                        a(href="./categories.html") Sofa giường
                    li
                        a(href="./categories.html") Sofa 3 chỗ
                    li
                        a(href="./categories.html") Sofa 2 chỗ
            li.menu-item
                .d-flex.align-items-center.menu-icon-btn
                    img(src="../../dist/assets/icon/table-coffe-hd.png", alt="")
                    p.text-side-menu Bàn cafe
                    span.menu-icon
                        i.fas.fa-chevron-right
                ul.sub-menu-sidebar
                    li
                        a(href="./categories.html") Bàn trang trí
                    li
                        a(href="./categories.html") Bàn góc
                    li
                        a(href="./categories.html") Bàn cafe
            li.menu-item
                .d-flex.align-items-center.menu-icon-btn
                    img(src="../../dist/assets/icon/027-desk.png", alt="")
                    p.text-side-menu Kệ
                    span.menu-icon
                        i.fas.fa-chevron-right
                ul.sub-menu-sidebar
                    li
                        a(href="./categories.html") Kệ treo tường
                    li
                        a(href="./categories.html") Kệ sách
                    li
                        a(href="./categories.html") Kệ tivi
            li.menu-item
                .d-flex.align-items-center.menu-icon-btn
                    img(src="../../dist/assets/icon/028-modern-chair.png", alt="")
                    p.text-side-menu Phụ kiện
                    span.menu-icon
                        i.fas.fa-chevron-right
                ul.sub-menu-sidebar
                    li
                        a(href="./categories.html") Gối
                    li
                        a(href="./categories.html") Nệm
                    li
                        a(href="./categories.html") Khăn
                    li
                        a(href="./categories.html") Thảm
            li.menu-item
                .d-flex.align-items-center.menu-icon-btn
                    span 
                        <i class="fas fa-holly-berry"></i>
                    p.text-side-menu Trang trí
                    span.menu-icon
                        i.fas.fa-chevron-right
                ul.sub-menu-sidebar
                    li
                        a(href="./categories.html") Tranh
                    li
                        a(href="./categories.html") Lọ trang trí
                    li
                        a(href="./categories.html") Cây trang trí
                    li
                        a(href="./categories.html") Đồng hồ