include ../mixins/mixin.pug
.product-list-slider
    .row
        //- giường
        //- 8
        .col-sm-6.col-md-4.col-xl-3
            .product-item.my-3.bg-white
                .product-item-header
                    .product-item-badges
                        span.discount 
                        span.status.unlike.cursor-pointer
                            i.fas.fa-heart
                    a(href="./product-detail-8.html").product-item-image
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/25/mmh-bed-qun-lullaby-grey-gi00000001-13-1577246922.jpg", alt="Product Image")     
                .product-item-body.mt-1
                    .product-item-slider.owl-carousel.owl-carousel-2
                            .thumbnail-item.active
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/25/mmh-bed-qun-lullaby-grey-gi00000001-13-1577246922.jpg", alt="Product Image")
                            .thumbnail-item.active
                                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/25/mmh-bed-qun-lullaby-grey-gi00000001-7-1577246934.jpg", alt="Product Image")
                    .product-item-info.px-3.pb-3.pt-2
                        a(href="#").cursor-pointer
                            h3.product-info-title Giường Lullaby
                        .d-flex.justify-content-between.align-items-center.pt-3
                            .product-stars-rating
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span.count-rating
                            .product-location Hồ Chí Minh    
                .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                    .product-price
                        p.m-0.current-price 8,811,000 VND
                    .product-provider
                        a(href="./store-homepage-3.html")
                            img(src="https://cdn.fitin.vn/cms-ecom/images/2019/11/01/dong-nhan-1572594837.png", alt="")

        //- 10
        .col-sm-6.col-md-4.col-xl-3    
            .product-item.my-3.bg-white
                .product-item-header
                    .product-item-badges
                        span.discount
                        span.status.unlike.cursor-pointer
                            i.fas.fa-heart
                    a(href="./product-detail-10.html").product-item-image
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/27/jysk-bed-362090286-millinge-0000-1574838367.jpg", alt="Product Image")     
                .product-item-body.mt-1
                    .product-item-slider.owl-carousel.owl-carousel-2
                        .thumbnail-item.active
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/27/jysk-bed-362090286-millinge-0000-1574838367.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/27/jysk-bed-362090286-millinge-0014-1574838385.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/27/jysk-bed-362090286-millinge-0025-1574838386.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/27/jysk-bed-362090286-millinge-0030-1574838388.jpg", alt="Product Image")
                    .product-item-info.px-3.pb-3.pt-2
                        a(href="#").cursor-pointer
                            h3.product-info-title Khung giường Millinge
                        .d-flex.justify-content-between.align-items-center.pt-3
                            .product-stars-rating
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span.count-rating
                            .product-location Hồ Chí Minh    
                .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                    .product-price
                        p.m-0.current-price 9,500,000 VND
                        //- p.m-0.old-price 29,900,000 VND
                    .product-provider
                        //- a(href="./store-homepage-1.html")
                        //-     img(src="https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png", alt="")
                        //- a(href='./store-homepage-2.html')
                        //-     img(src='https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png', alt='')
                        a(href='./store-homepage-3.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/images/2019/11/01/dong-nhan-1572594837.png', alt='')
        //- 11
        .col-sm-6.col-md-4.col-xl-3    
            .product-item.my-3.bg-white
                .product-item-header
                    .product-item-badges
                        span.discount -10%
                        span.status.unlike.cursor-pointer
                            i.fas.fa-heart
                    a(href="./product-detail-11.html").product-item-image
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/26/jysk-bed-edith-0000-1574740463.jpg", alt="Product Image")     
                .product-item-body.mt-1
                    .product-item-slider.owl-carousel.owl-carousel-2
                        .thumbnail-item.active
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/26/jysk-bed-edith-0000-1574740463.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/26/jysk-bed-edith-0013-1574740480.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/26/jysk-bed-361722586-edith-0020-1574740491.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/26/jysk-bed-361722586-edith-0030-1574740502.jpg", alt="Product Image")
                    .product-item-info.px-3.pb-3.pt-2
                        a(href="#").cursor-pointer
                            h3.product-info-title Khung Giường Kèm Dát Edith
                        .d-flex.justify-content-between.align-items-center.pt-3
                            .product-stars-rating
                                span.active
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span.count-rating (20)
                            .product-location Hồ Chí Minh    
                .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                    .product-price
                        p.m-0.current-price 9,500,000 VND
                        //- p.m-0.old-price 29,900,000 VND
                    .product-provider
                        //- a(href="./store-homepage-1.html")
                        //-     img(src="https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png", alt="")
                        //- a(href='./store-homepage-2.html')
                        //-     img(src='https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png', alt='')
                        a(href='./store-homepage-3.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/images/2019/11/01/dong-nhan-1572594837.png', alt='')











