include ../mixins/mixin.pug
.product-list-slider
    .row
        //- 6
        .col-sm-6.col-md-4.col-xl-3
            .product-item.my-3.bg-white
                .product-item-header
                    .product-item-badges
                        span.discount 
                        span.status.unlike.cursor-pointer
                            i.fas.fa-heart
                    a(href="./product-detail-6.html").product-item-image
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/09/tot-coffertable-struktur-ata0303ms01p03-0000-1575885343.jpg", alt="Product Image")     
                .product-item-body.mt-1
                    .product-item-slider.owl-carousel.owl-carousel-2
                        .thumbnail-item.active
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/09/tot-coffertable-struktur-ata0303ms01p03-0000-1575885343.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/09/tot-coffertable-struktur-ata0303ms01p03-0025-1575885348.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/09/tot-coffertable-struktur-ata0303ms01p03-0008-1575885344.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/09/tot-coffertable-struktur-ata0303ms01p03-0018-1575885346.jpg", alt="Product Image")
                    .product-item-info.px-3.pb-3.pt-2
                        a(href="#").cursor-pointer
                            h3.product-info-title Bàn cafe strukur
                        .d-flex.justify-content-between.align-items-center.pt-3
                            .product-stars-rating
                                span.active
                                    i.fas.fa-star
                                span.active
                                    i.fas.fa-star
                                span.active
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span.count-rating (30)
                            .product-location Hồ Chí Minh    
                .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                    .product-price
                        p.m-0.current-price 3,990,000 VND
                    .product-provider
                        a(href="./store-homepage-2.html")
                            img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png", alt="")
        //- 7
        .col-sm-6.col-md-4.col-xl-3    
            .product-item.my-3.bg-white
                .product-item-header
                    .product-item-badges
                        span.discount -10%
                        span.status.unlike.cursor-pointer
                            i.fas.fa-heart
                    a(href="./product-detail-7.html").product-item-image
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/07/1001k005-1575693486.jpg", alt="Product Image")     
                .product-item-body.mt-1
                    .product-item-slider.owl-carousel.owl-carousel-2
                        .thumbnail-item.active
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/12/07/1001k005-1575693486.jpg", alt="Product Image")
                    .product-item-info.px-3.pb-3.pt-2
                        a(href="#").cursor-pointer
                            h3.product-info-title Bàn cafe
                        .d-flex.justify-content-between.align-items-center.pt-3
                            .product-stars-rating
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span.count-rating 
                            .product-location Hồ Chí Minh    
                .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                    .product-price
                        p.m-0.current-price 8,010,000 VND
                        p.m-0.old-price 8,900,000VND
                    .product-provider
                        a(href="./store-homepage-2.html")
                            img(src="https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png", alt="")

        //- ghế
        //- 1 
        .col-sm-6.col-md-4.col-xl-3   
            .product-item.my-3.bg-white
                    .product-item-header
                        .product-item-badges
                            span.discount -20%
                            span.status.unlike.cursor-pointer
                                i.fas.fa-heart
                        a.product-item-image(href='./product-detail-1.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg', alt='Product Image')
                    .product-item-body.mt-1
                        .product-item-slider.owl-carousel.owl-carousel-2
                            .thumbnail-item.active
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0000-1572576400.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0011-1572576410.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona-0018-1572576412.jpg', alt='Product Image')
                            .thumbnail-item
                                img(src='https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/rla-armchair-barcelona0036-1572576414.jpg', alt='Product Image')
                        .product-item-info.px-3.pb-3.pt-2
                            a.cursor-pointer(href='#')
                                h3.product-info-title Ghế Thư Giãn Barcelona
                            .d-flex.justify-content-between.align-items-center.pt-3
                                .product-stars-rating
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span.count-rating (30)
                                .product-location Hồ Chí Minh
                    .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                        .product-price
                            p.m-0.current-price 23,672,000 VND
                            p.m-0.old-price 29,590,000 VND
                        .product-provider
                            a(href='./store-homepage-2.html')
                                img(src='https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png', alt='')

        //- 12
        .col-sm-6.col-md-4.col-xl-3    
            .product-item.my-3.bg-white
                .product-item-header
                    .product-item-badges
                        span.discount 
                        span.status.unlike.cursor-pointer
                            i.fas.fa-heart
                    a(href="./product-detail-12.html").product-item-image
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/07/23/jysk-bed-favrbo-1563854142.jpg", alt="Product Image")     
                .product-item-body.mt-1
                    .product-item-slider.owl-carousel.owl-carousel-2
                        .thumbnail-item.active
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/07/23/jysk-bed-favrbo-1563854142.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/07/23/jysk-bed-favrbo3qr-1563854161.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/07/23/jysk-bed-favrbo3ql-1563854161.jpg", alt="Product Image")
                        //- .thumbnail-item
                        //-     img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/26/jysk-bed-361722586-edith-0030-1574740502.jpg", alt="Product Image")
                    .product-item-info.px-3.pb-3.pt-2
                        a(href="#").cursor-pointer
                            h3.product-info-title Giường đôi Favrbo
                        .d-flex.justify-content-between.align-items-center.pt-3
                            .product-stars-rating
                                span.active
                                    i.fas.fa-star
                                span.active
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span
                                    i.fas.fa-star
                                span.count-rating (40)
                            .product-location Hồ Chí Minh    
                .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                    .product-price
                        p.m-0.current-price 12,900,000 VND
                        //- p.m-0.old-price 29,900,000 VND
                    .product-provider
                        //- a(href="./store-homepage-1.html")
                        //-     img(src="https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png", alt="")
                        a(href='./store-homepage-2.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png', alt='')
                        //- a(href='./store-homepage-3.html')
                        //-     img(src='https://cdn.fitin.vn/cms-ecom/images/2019/11/01/dong-nhan-1572594837.png', alt='')
        //- 13
        .col-sm-6.col-md-4.col-xl-3    
            .product-item.my-3.bg-white
                .product-item-header
                    .product-item-badges
                        span.discount 
                        span.status.unlike.cursor-pointer
                            i.fas.fa-heart
                    a(href="./product-detail-13.html").product-item-image
                        img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0000-1566901590.jpg", alt="Product Image")     
                .product-item-body.mt-1
                    .product-item-slider.owl-carousel.owl-carousel-2
                        .thumbnail-item.active
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0000-1566901590.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0031-1566901597.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0019-1566901597.jpg", alt="Product Image")
                        .thumbnail-item
                            img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/08/27/fullhouse-bed-provedence-0053-1566901597.jpg", alt="Product Image")
                    .product-item-info.px-3.pb-3.pt-2
                        a(href="#").cursor-pointer
                            h3.product-info-title Giường Providence
                        .d-flex.justify-content-between.align-items-center.pt-3
                            .product-stars-rating
                                span.active
                                    i.fas.fa-star
                                span.active
                                    i.fas.fa-star
                                span.active
                                    i.fas.fa-star
                                span.active
                                    i.fas.fa-star
                                span.active
                                    i.fas.fa-star
                                span.count-rating (100)
                            .product-location Hồ Chí Minh    
                .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
                    .product-price
                        p.m-0.current-price 22,900,000 VND
                        //- p.m-0.old-price 29,900,000 VND
                    .product-provider
                        //- a(href="./store-homepage-1.html")
                        //-     img(src="https://cdn.fitin.vn/cms-ecom/images/2019/12/04/furnist-1575456016.png", alt="")
                        a(href='./store-homepage-2.html')
                            img(src='https://cdn.fitin.vn/cms-ecom/images/2019/10/25/relax-art-1571993027.png', alt='')
                        //- a(href='./store-homepage-3.html')
                        //-     img(src='https://cdn.fitin.vn/cms-ecom/images/2019/11/01/dong-nhan-1572594837.png', alt='')











