.store-product-menu.my-3
    .store-product-menu_content
        ul.d-flex
            li.active
                a(href="#") Trang Chủ
            li
                a(href="#") Tất cả sản phẩm 
            li
                a(href="#") Hồ sơ
