.sis-seller-average-ratings.col-4
    .lzd-section-title
            h6.m-0 Điểm đánh giá trung bình
    .rating-overview
        .left
        .score
            label.average 78%
        .count
            label.countText Đánh giá tích cực
        .right
        .scoreItem.d-flex.justify-content-between
            label.starText Tốt
            .progressWrap
                .pdp-review-progress.mx-3
                    .bar.bg
                    .bar.fg(style='width: 77.9801%;')
                label.starCount 471
        .scoreItem.d-flex.justify-content-between
            label.starText Trung bình
            .progressWrap
                .pdp-review-progress.mx-3
                    .bar.bg
                    .bar.fg(style='width: 5.7947%;')
                label.starCount 35
        .scoreItem.d-flex.justify-content-between
            label.starText Chưa tốt
            .progressWrap
                .pdp-review-progress.mx-3
                    .bar.bg
                    .bar.fg(style='width: 16.2252%;')
                label.starCount 98
        .based-on-label Dựa trên 604 lượt đánh giá từ khách hàng