.homepage-container
    .store-banner
        img(src="https://cdn6.f-cdn.com/contestentries/919936/22447020/586c29f5b03f2_thumb900.jpg")
    .hot-product-containe.row.m-0
        .sale-advertisment.col-8.p-0
            .row.sale-content.m-0
                a.sale-product.col-6.p-0(href="")
                    .content.p-0
                        img(src="https://www.peonyevents.co/wp-content/uploads/2019/09/adorable-chair-round-dining-room-set-seat-table-and-chairs-glass-marble-solid-wood.jpeg")
                        .sale-off -40%
                        .detail-product
                            .price 
                                .old-price 23.600.000 VND
                                .new-price 13.000.000 VND
                            .product-name bộ bàn ăn cao cấp  
                a.sale-product.col-6.p-0(href="")
                    .content.p-0
                        img(src="https://www.peonyevents.co/wp-content/uploads/2019/09/adorable-chair-round-dining-room-set-seat-table-and-chairs-glass-marble-solid-wood.jpeg")
                        .sale-off -40%
                        .detail-product
                            .price 
                                .old-price 23.600.000 VND
                                .new-price 13.000.000 VND
                            .product-name bộ bàn ăn cao cấp   
        .hot-product.col-4.d-flex.p-0
            .top-hot.row.m-0.cus-background 
                .product-img.col-6.p-0.d-flex
                    img(src="https://minhduongf.com/wp-content/uploads/2019/01/IMG_2679_preview.jpeg")
                .product-detail.col-6.p-0
                    p.product-name.m-0 bàn gỗ 
                    p.product-price.m-0 1.500.000Đ
            .bottom-hot.row.m-0
                .product.col-6.p-0
                    .cus-background.h-100
                        .product-img
                            img(src="https://minhduongf.com/wp-content/uploads/2019/01/IMG_2679_preview.jpeg")
                        .product-detail
                            p.product-price.m-0 1.500.000Đ 
                .product.col-6.p-0
                    .cus-background.h-100
                        .product-img
                            img(src="https://minhduongf.com/wp-content/uploads/2019/01/IMG_2679_preview.jpeg")
                        .product-detail
                            p.product-price.m-0 1.500.000Đ

