//- include ./datafake.pug
//- .side-bar.pt-3
//-     button.op-menu
//-         span.wrapper-op-menu
//-             span.icon-op-menu
//- .wrapper-sub-menu.pb-3
//-     .wrapper-logo
//-         .logo
//-             a(href="./index.html")
//-                 img(src="../assets/logo-demo.png", alt="Logo")
//-     .sub-menu
//-         ul.menu-accordion.mt-4
//-             each item in listSubMenu
//-                 .nav-box.px-3.py-2
//-                     li.menu-accordion__item.d-flex.align-items-center
//-                         a(href=item.href)
//-                             h6.m-0.menu-accordion__title=item.title
//-                             //- <i class="fas fa-angle-down ml-2 icon-sub-menu"></i>
//-                     //- ul.menu-accordion__sub-items
//-                     //-     li.menu-accordion__item.px-2.py-1
//-                     //-         a(href="../html/offer-product.html")=item.item
                    