$blue: blue;
$red: red;
$white : white;
// TEXTs

$text-colors: () !default;
$text-colors: map-merge((
    "text-blue": $blue,
    "text-red": $red,
    "text-white": $white
) , $text-colors);

@each $name,$color in $text-colors{
    .#{$name}{
        color: $color;
    }
}

// BACKGROUNDs
$deepgrey : #f4f4f4;

$bg-color: () !default;
$bg-color: map-merge((
    "bg-green": lighten($blue,10%),
    "bg-deepgrey": $deepgrey
), $bg-color);

@each $name,$color in $bg-color{
    .#{$name}{
        background-color: $color;
    }
}
