// @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Muli:400,500,600,700|Oswald:400,600,700&display=swap&subset=vietnamese');
// @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,500,600,700&display=swap&subset=vietnamese');
// @import url('https://fonts.googleapis.com/css?family=Saira+Condensed:400,500,600,700&display=swap&subset=vietnamese');
// @import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,600,700&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Niramit:400,500,600,700&display=swap');

// @import url('https://fonts.googleapis.com/css?family=K2D:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,500,600,700&display=swap');



html{
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
td,
th,
input,
button {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    // font-family: 'K2D', sans-serif;
    // font-family: 'Saira Condensed', sans-serif;
    // font-family: 'Maven Pro', sans-serif;
    // font-family: 'Niramit', sans-serif;
    // font-family: 'Fira Sans Condensed', sans-serif;
    // font-family: 'Oswald', sans-serif;
    // font-family: 'Muli', sans-serif;
    // font-family: 'Arimo', sans-serif;
    // font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    font-size: 1rem;
    color: #000;
}
ul{
    list-style-type: none;
}
