extends ../layouts/layout.pug
block main-content
    .layout-content
        section#header
            include ./../partials/header.pug
            include ./../partials/navigation.pug
        main#main-content.bg-deepgrey
            include ./../partials/about-us.pug
        section#footer
            include ./../partials/footer.pug