extends ../layouts/layout-admin.pug
block main-content
    .page-wrapper
        //- header-mobile
        include ./../partials/header-mobile-admin.pug
        //- sidebar
        include ./../partials/menu-sidebar-admin.pug
        //- PAGE CONTAINER
        .page-container
            //- HEADER DESKTOP
            include ./../partials/header-admin.pug
            //- MAIN CONTENT
            .main-content
                .section__content.section__content--p30
                    .container-fluid
                        .row
                            .col-lg-6
                                .card
                                    .card-header Credit Card
                                    .card-body
                                        .card-title
                                            h3.text-center.title-2 Pay Invoice
                                        hr
                                        form(action='', method='post', novalidate='novalidate')
                                            .form-group
                                                label.control-label.mb-1(for='cc-payment') Payment amount
                                                input#cc-pament.form-control(name='cc-payment', type='text', aria-required='true', aria-invalid='false', value='100.00')
                                            .form-group.has-success
                                                label.control-label.mb-1(for='cc-name') Name on card
                                                input#cc-name.form-control.cc-name.valid(name='cc-name', type='text', data-val='true', data-val-required='Please enter the name on card', autocomplete='cc-name', aria-required='true', aria-invalid='false', aria-describedby='cc-name-error')
                                                span.help-block.field-validation-valid(data-valmsg-for='cc-name', data-valmsg-replace='true')
                                            .form-group
                                                label.control-label.mb-1(for='cc-number') Card number
                                                input#cc-number.form-control.cc-number.identified.visa(name='cc-number', type='tel', value='', data-val='true', data-val-required='Please enter the card number', data-val-cc-number='Please enter a valid card number', autocomplete='cc-number')
                                                span.help-block(data-valmsg-for='cc-number', data-valmsg-replace='true')
                                            .row
                                                .col-6
                                                    .form-group
                                                        label.control-label.mb-1(for='cc-exp') Expiration
                                                        input#cc-exp.form-control.cc-exp(name='cc-exp', type='tel', value='', data-val='true', data-val-required='Please enter the card expiration', data-val-cc-exp='Please enter a valid month and year', placeholder='MM / YY', autocomplete='cc-exp')
                                                        span.help-block(data-valmsg-for='cc-exp', data-valmsg-replace='true')
                                                .col-6
                                                    label.control-label.mb-1(for='x_card_code') Security code
                                                    .input-group
                                                        input#x_card_code.form-control.cc-cvc(name='x_card_code', type='tel', value='', data-val='true', data-val-required='Please enter the security code', data-val-cc-cvc='Please enter a valid security code', autocomplete='off')
                                            div
                                                button#payment-button.btn.btn-lg.btn-info.btn-block(type='submit')
                                                    i.fa.fa-lock.fa-lg
                                                    span#payment-button-amount Pay $100.00
                                                    span#payment-button-sending(style='display:none;') Sending…
                            .col-lg-6
                                .card
                                    .card-header
                                        strong Company
                                        small  Form
                                    .card-body.card-block
                                        .form-group
                                            label.form-control-label(for='company') Company
                                            input#company.form-control(type='text', placeholder='Enter your company name')
                                        .form-group
                                            label.form-control-label(for='vat') VAT
                                            input#vat.form-control(type='text', placeholder='DE1234567890')
                                        .form-group
                                            label.form-control-label(for='street') Street
                                            input#street.form-control(type='text', placeholder='Enter street name')
                                        .row.form-group
                                            .col-8
                                                .form-group
                                                    label.form-control-label(for='city') City
                                                    input#city.form-control(type='text', placeholder='Enter your city')
                                            .col-8
                                                .form-group
                                                    label.form-control-label(for='postal-code') Postal Code
                                                    input#postal-code.form-control(type='text', placeholder='Postal Code')
                                        .form-group
                                            label.form-control-label(for='country') Country
                                            input#country.form-control(type='text', placeholder='Country name')
                            .col-lg-6
                                .card
                                    .card-header
                                        strong Basic Form
                                        |  Elements
                                    .card-body.card-block
                                        form.form-horizontal(action='', method='post', enctype='multipart/form-data')
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label Static
                                                .col-12.col-md-9
                                                    p.form-control-static Username
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='text-input') Text Input
                                                .col-12.col-md-9
                                                    input#text-input.form-control(type='text', name='text-input', placeholder='Text')
                                                    small.form-text.text-muted This is a help text
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='email-input') Email Input
                                                .col-12.col-md-9
                                                    input#email-input.form-control(type='email', name='email-input', placeholder='Enter Email')
                                                    small.help-block.form-text Please enter your email
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='password-input') Password
                                                .col-12.col-md-9
                                                    input#password-input.form-control(type='password', name='password-input', placeholder='Password')
                                                    small.help-block.form-text Please enter a complex password
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='disabled-input') Disabled Input
                                                .col-12.col-md-9
                                                    input#disabled-input.form-control(type='text', name='disabled-input', placeholder='Disabled', disabled='')
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='textarea-input') Textarea
                                                .col-12.col-md-9
                                                    textarea#textarea-input.form-control(name='textarea-input', rows='9', placeholder='Content...')
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='select') Select
                                                .col-12.col-md-9
                                                    select#select.form-control(name='select')
                                                        option(value='0') Please select
                                                        option(value='1') Option #1
                                                        option(value='2') Option #2
                                                        option(value='3') Option #3
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='selectLg') Select Large
                                                .col-12.col-md-9
                                                    select#selectLg.form-control-lg.form-control(name='selectLg')
                                                        option(value='0') Please select
                                                        option(value='1') Option #1
                                                        option(value='2') Option #2
                                                        option(value='3') Option #3
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='selectSm') Select Small
                                                .col-12.col-md-9
                                                    select#SelectLm.form-control-sm.form-control(name='selectSm')
                                                        option(value='0') Please select
                                                        option(value='1') Option #1
                                                        option(value='2') Option #2
                                                        option(value='3') Option #3
                                                        option(value='4') Option #4
                                                        option(value='5') Option #5
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='disabledSelect') Disabled Select
                                                .col-12.col-md-9
                                                    select#disabledSelect.form-control(name='disabledSelect', disabled='')
                                                        option(value='0') Please select
                                                        option(value='1') Option #1
                                                        option(value='2') Option #2
                                                        option(value='3') Option #3
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='multiple-select') Multiple select
                                                .col.col-md-9
                                                    select#multiple-select.form-control(name='multiple-select', multiple='')
                                                        option(value='1') Option #1
                                                        option(value='2') Option #2
                                                        option(value='3') Option #3
                                                        option(value='4') Option #4
                                                        option(value='5') Option #5
                                                        option(value='6') Option #6
                                                        option(value='7') Option #7
                                                        option(value='8') Option #8
                                                        option(value='9') Option #9
                                                        option(value='10') Option #10
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label Radios
                                                .col.col-md-9
                                                    .form-check
                                                        .radio
                                                            label.form-check-label(for='radio1')
                                                                input#radio1.form-check-input(type='radio', name='radios', value='option1')
                                                                | Option 1
                                                        .radio
                                                            label.form-check-label(for='radio2')
                                                                input#radio2.form-check-input(type='radio', name='radios', value='option2')
                                                                | Option 2
                                                        .radio
                                                            label.form-check-label(for='radio3')
                                                                input#radio3.form-check-input(type='radio', name='radios', value='option3')
                                                                | Option 3
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label Inline Radios
                                                .col.col-md-9
                                                    .form-check-inline.form-check
                                                        label.form-check-label(for='inline-radio1')
                                                            input#inline-radio1.form-check-input(type='radio', name='inline-radios', value='option1')
                                                            | One
                                                        label.form-check-label(for='inline-radio2')
                                                            input#inline-radio2.form-check-input(type='radio', name='inline-radios', value='option2')
                                                            | Two
                                                        label.form-check-label(for='inline-radio3')
                                                            input#inline-radio3.form-check-input(type='radio', name='inline-radios', value='option3')
                                                            | Three
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label Checkboxes
                                                .col.col-md-9
                                                    .form-check
                                                        .checkbox
                                                            label.form-check-label(for='checkbox1')
                                                                input#checkbox1.form-check-input(type='checkbox', name='checkbox1', value='option1')
                                                                | Option 1
                                                        .checkbox
                                                            label.form-check-label(for='checkbox2')
                                                                input#checkbox2.form-check-input(type='checkbox', name='checkbox2', value='option2')
                                                                |  Option 2
                                                        .checkbox
                                                            label.form-check-label(for='checkbox3')
                                                                input#checkbox3.form-check-input(type='checkbox', name='checkbox3', value='option3')
                                                                |  Option 3
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label Inline Checkboxes
                                                .col.col-md-9
                                                    .form-check-inline.form-check
                                                        label.form-check-label(for='inline-checkbox1')
                                                            input#inline-checkbox1.form-check-input(type='checkbox', name='inline-checkbox1', value='option1')
                                                            | One
                                                        label.form-check-label(for='inline-checkbox2')
                                                            input#inline-checkbox2.form-check-input(type='checkbox', name='inline-checkbox2', value='option2')
                                                            | Two
                                                        label.form-check-label(for='inline-checkbox3')
                                                            input#inline-checkbox3.form-check-input(type='checkbox', name='inline-checkbox3', value='option3')
                                                            | Three
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='file-input') File input
                                                .col-12.col-md-9
                                                    input#file-input.form-control-file(type='file', name='file-input')
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='file-multiple-input') Multiple File input
                                                .col-12.col-md-9
                                                    input#file-multiple-input.form-control-file(type='file', name='file-multiple-input', multiple='')
                                    .card-footer
                                        button.btn.btn-primary.btn-sm(type='submit')
                                            i.fa.fa-dot-circle-o
                                            |  Submit
                                        button.btn.btn-danger.btn-sm(type='reset')
                                            i.fa.fa-ban
                                            |  Reset
                                .card
                                    .card-header
                                        strong Inline
                                        |  Form
                                    .card-body.card-block
                                        form.form-inline(action='', method='post')
                                            .form-group
                                                label.pr-1.form-control-label(for='exampleInputName2') Name
                                                input#exampleInputName2.form-control(type='text', placeholder='Jane Doe', required='')
                                            .form-group
                                                label.px-1.form-control-label(for='exampleInputEmail2') Email
                                                input#exampleInputEmail2.form-control(type='email', placeholder='jane.doe@example.com', required='')
                                    .card-footer
                                        button.btn.btn-primary.btn-sm(type='submit')
                                            i.fa.fa-dot-circle-o
                                            |  Submit
                                        button.btn.btn-danger.btn-sm(type='reset')
                                            i.fa.fa-ban
                                            |  Reset
                            .col-lg-6
                                .card
                                    .card-header
                                        strong Horizontal
                                        |  Form
                                    .card-body.card-block
                                        form.form-horizontal(action='', method='post')
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='hf-email') Email
                                                .col-12.col-md-9
                                                    input#hf-email.form-control(type='email', name='hf-email', placeholder='Enter Email...')
                                                    span.help-block Please enter your email
                                            .row.form-group
                                                .col.col-md-3
                                                    label.form-control-label(for='hf-password') Password
                                                .col-12.col-md-9
                                                    input#hf-password.form-control(type='password', name='hf-password', placeholder='Enter Password...')
                                                    span.help-block Please enter your password
                                    .card-footer
                                        button.btn.btn-primary.btn-sm(type='submit')
                                            i.fa.fa-dot-circle-o
                                            |  Submit
                                        button.btn.btn-danger.btn-sm(type='reset')
                                            i.fa.fa-ban
                                            |  Reset
                                .card
                                    .card-header
                                        strong Normal
                                        |  Form
                                    .card-body.card-block
                                        form(action='', method='post')
                                            .form-group
                                                label.form-control-label(for='nf-email') Email
                                                input#nf-email.form-control(type='email', name='nf-email', placeholder='Enter Email..')
                                                span.help-block Please enter your email
                                            .form-group
                                                label.form-control-label(for='nf-password') Password
                                                input#nf-password.form-control(type='password', name='nf-password', placeholder='Enter Password..')
                                                span.help-block Please enter your password
                                    .card-footer
                                        button.btn.btn-primary.btn-sm(type='submit')
                                            i.fa.fa-dot-circle-o
                                            |  Submit
                                        button.btn.btn-danger.btn-sm(type='reset')
                                            i.fa.fa-ban
                                            |  Reset
                                .card
                                    .card-header
                                        | Input
                                        strong Grid
                                    .card-body.card-block
                                        form.form-horizontal(action='', method='post')
                                            .row.form-group
                                                .col.col-sm-3
                                                    input.form-control(type='text', placeholder='.col-sm-3')
                                            .row.form-group
                                                .col.col-sm-4
                                                    input.form-control(type='text', placeholder='.col-sm-4')
                                            .row.form-group
                                                .col.col-sm-5
                                                    input.form-control(type='text', placeholder='.col-sm-5')
                                            .row.form-group
                                                .col.col-sm-6
                                                    input.form-control(type='text', placeholder='.col-sm-6')
                                            .row.form-group
                                                .col.col-sm-7
                                                    input.form-control(type='text', placeholder='.col-sm-7')
                                            .row.form-group
                                                .col.col-sm-8
                                                    input.form-control(type='text', placeholder='.col-sm-8')
                                            .row.form-group
                                                .col.col-sm-9
                                                    input.form-control(type='text', placeholder='.col-sm-9')
                                            .row.form-group
                                                .col.col-sm-10
                                                    input.form-control(type='text', placeholder='.col-sm-10')
                                            .row.form-group
                                                .col.col-sm-11
                                                    input.form-control(type='text', placeholder='.col-sm-11')
                                            .row.form-group
                                                .col.col-sm-12
                                                    input.form-control(type='text', placeholder='.col-sm-12')
                                    .card-footer
                                        button.btn.btn-primary.btn-sm(type='submit')
                                            i.fa.fa-user
                                            |  Login
                                        button.btn.btn-danger.btn-sm(type='reset')
                                            i.fa.fa-ban
                                            |  Reset
                                .card
                                    .card-header
                                        | Input
                                        strong Sizes
                                    .card-body.card-block
                                        form.form-horizontal(action='', method='post')
                                            .row.form-group
                                                .col.col-sm-5
                                                    label.form-control-label(for='input-small') Small Input
                                                .col.col-sm-6
                                                    input#input-small.input-sm.form-control-sm.form-control(type='text', name='input-small', placeholder='.form-control-sm')
                                            .row.form-group
                                                .col.col-sm-5
                                                    label.form-control-label(for='input-normal') Normal Input
                                                .col.col-sm-6
                                                    input#input-normal.form-control(type='text', name='input-normal', placeholder='Normal')
                                            .row.form-group
                                                .col.col-sm-5
                                                    label.form-control-label(for='input-large') Large Input
                                                .col.col-sm-6
                                                    input#input-large.input-lg.form-control-lg.form-control(type='text', name='input-large', placeholder='.form-control-lg')
                                    .card-footer
                                        button.btn.btn-primary.btn-sm(type='submit')
                                            i.fa.fa-dot-circle-o
                                            |  Submit
                                        button.btn.btn-danger.btn-sm(type='reset')
                                            i.fa.fa-ban
                                            |  Reset
                            .col-lg-6
                                .card
                                    .card-header
                                        strong Validation states
                                        |  Form
                                    .card-body.card-block
                                        .has-success.form-group
                                            label.form-control-label(for='inputIsValid') Input is valid
                                            input#inputIsValid.is-valid.form-control-success.form-control(type='text')
                                        .has-warning.form-group
                                            label.form-control-label(for='inputIsInvalid') Input is invalid
                                            input#inputIsInvalid.is-invalid.form-control(type='text')
                            .col-lg-6
                                .card
                                    .card-header
                                        strong Validation states
                                        |  with optional icons
                                        em (deprecated)
                                    .card-body.card-block
                                        .has-success.form-group
                                            label.form-control-label(for='inputSuccess2i') Input with success
                                            input#inputSuccess2i.form-control-success.form-control(type='text')
                                        .has-warning.form-group
                                            label.form-control-label(for='inputWarning2i') Input with warning
                                            input#inputWarning2i.form-control-warning.form-control(type='text')
                                        .has-danger.has-feedback.form-group
                                            label.form-control-label(for='inputError2i') Input with error
                                            input#inputError2i.form-control-danger.form-control(type='text')
                            .col-lg-6
                                .card
                                    .card-header
                                        strong Icon/Text
                                        |  Groups
                                    .card-body.card-block
                                        form.form-horizontal(action='', method='post')
                                            .row.form-group
                                                .col.col-md-12
                                                    .input-group
                                                        .input-group-addon
                                                            i.fa.fa-user
                                                        input#input1-group1.form-control(type='text', name='input1-group1', placeholder='Username')
                                            .row.form-group
                                                .col.col-md-12
                                                    .input-group
                                                        input#input2-group1.form-control(type='email', name='input2-group1', placeholder='Email')
                                                        .input-group-addon
                                                            i.far.fa-envelope
                                            .row.form-group
                                                .col.col-md-12
                                                    .input-group
                                                        .input-group-addon
                                                            i.fa.fa-euro
                                                        input#input3-group1.form-control(type='text', name='input3-group1', placeholder='..')
                                                        .input-group-addon .00
                                    .card-footer
                                        button.btn.btn-success.btn-sm(type='submit')
                                            i.fa.fa-dot-circle-o
                                            |  Submit
                                        button.btn.btn-danger.btn-sm(type='reset')
                                            i.fa.fa-ban
                                            |  Reset
                            .col-lg-6
                                .card
                                    .card-header
                                        strong Buttons
                                        |  Groups
                                    .card-body.card-block
                                        form.form-horizontal(action='', method='post')
                                            .row.form-group
                                                .col.col-md-12
                                                    .input-group
                                                        .input-group-btn
                                                            button.btn.btn-primary
                                                                i.fa.fa-search
                                                                |  Search
                                                        input#input1-group2.form-control(type='text', name='input1-group2', placeholder='Username')
                                            .row.form-group
                                                .col.col-md-12
                                                    .input-group
                                                        input#input2-group2.form-control(type='email', name='input2-group2', placeholder='Email')
                                                        .input-group-btn
                                                            button.btn.btn-primary Submit
                                            .row.form-group
                                                .col.col-md-12
                                                    .input-group
                                                        .input-group-btn
                                                            button.btn.btn-primary
                                                                i.fa.fa-facebook
                                                        input#input3-group2.form-control(type='text', name='input3-group2', placeholder='Search')
                                                        .input-group-btn
                                                            button.btn.btn-primary
                                                                i.fa.fa-twitter
                                    .card-footer
                                        button.btn.btn-success.btn-sm(type='submit')
                                            i.fa.fa-dot-circle-o
                                            |  Submit
                                        button.btn.btn-danger.btn-sm(type='reset')
                                            i.fa.fa-ban
                                            |  Reset
                            .col-lg-6
                                .card
                                    .card-header
                                        strong Dropdowns
                                        |  Groups
                                    .card-body.card-block
                                        form.form-horizontal
                                            .row.form-group
                                                .col.col-md-12
                                                    .input-group
                                                        .input-group-btn
                                                            .btn-group
                                                                button.dropdown-toggle.btn.btn-primary(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
                                                                .dropdown-menu(tabindex='-1', aria-hidden='true', role='menu')
                                                                    button.dropdown-item(type='button', tabindex='0') Action
                                                                    button.dropdown-item(type='button', tabindex='0') Another Action
                                                                    button.dropdown-item(type='button', tabindex='0') Something else here
                                                                    .dropdown-divider(tabindex='-1')
                                                                    button.dropdown-item(type='button', tabindex='0') Separated link
                                                        input#input1-group3.form-control(type='text', name='input1-group3', placeholder='Username')
                                            .row.form-group
                                                .col.col-md-12
                                                    .input-group
                                                        input#input2-group3.form-control(type='email', name='input2-group3', placeholder='Email')
                                                        .input-group-btn
                                                            .btn-group
                                                                button.dropdown-toggle.btn.btn-primary(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
                                                                .dropdown-menu(tabindex='-1', aria-hidden='true', role='menu')
                                                                    button.dropdown-item(type='button', tabindex='0') Action
                                                                    button.dropdown-item(type='button', tabindex='0') Another Action
                                                                    button.dropdown-item(type='button', tabindex='0') Something else here
                                                                    .dropdown-divider(tabindex='-1')
                                                                    button.dropdown-item(type='button', tabindex='0') Separated link
                                            .row.form-group
                                                .col.col-md-12
                                                    .input-group
                                                        .input-group-btn
                                                            .btn-group
                                                                button.dropdown-toggle.btn.btn-primary(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Action
                                                                .dropdown-menu(tabindex='-1', aria-hidden='true', role='menu')
                                                                    button.dropdown-item(type='button', tabindex='0') Action
                                                                    button.dropdown-item(type='button', tabindex='0') Another Action
                                                                    button.dropdown-item(type='button', tabindex='0') Something else here
                                                                    .dropdown-divider(tabindex='-1')
                                                                    button.dropdown-item(type='button', tabindex='0') Separated link
                                                        input#input3-group3.form-control(type='text', name='input3-group3', placeholder='..')
                                                        .input-group-btn
                                                            .btn-group
                                                                button.dropdown-toggle.btn.btn-primary(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Dropdown
                                                                .dropdown-menu(tabindex='-1', aria-hidden='true', role='menu')
                                                                    button.dropdown-item(type='button', tabindex='0') Action
                                                                    button.dropdown-item(type='button', tabindex='0') Another Action
                                                                    button.dropdown-item(type='button', tabindex='0') Something else here
                                                                    .dropdown-divider(tabindex='-1')
                                                                    button.dropdown-item(type='button', tabindex='0') Separated link
                                    .card-footer
                                        button.btn.btn-success.btn-sm(type='submit')
                                            i.fa.fa-dot-circle-o
                                            |  Submit
                                        button.btn.btn-danger.btn-sm(type='reset')
                                            i.fa.fa-ban
                                            |  Reset
                            .col-lg-6
                                .card
                                    .card-header
                                        | Use the grid for big devices!
                                        small
                                            code .col-lg-*
                                            code .col-md-*
                                            code .col-sm-*
                                    .card-body.card-block
                                        form.form-horizontal(action='', method='post')
                                            .row.form-group
                                                .col.col-md-8
                                                    input.form-control(type='text', placeholder='.col-md-8')
                                                .col.col-md-4
                                                    input.form-control(type='text', placeholder='.col-md-4')
                                            .row.form-group
                                                .col.col-md-7
                                                    input.form-control(type='text', placeholder='.col-md-7')
                                                .col.col-md-5
                                                    input.form-control(type='text', placeholder='.col-md-5')
                                            .row.form-group
                                                .col.col-md-6
                                                    input.form-control(type='text', placeholder='.col-md-6')
                                                .col.col-md-6
                                                    input.form-control(type='text', placeholder='.col-md-6')
                                            .row.form-group
                                                .col.col-md-5
                                                    input.form-control(type='text', placeholder='.col-md-5')
                                                .col.col-md-7
                                                    input.form-control(type='text', placeholder='.col-md-7')
                                            .row.form-group
                                                .col.col-md-4
                                                    input.form-control(type='text', placeholder='.col-md-4')
                                                .col.col-md-8
                                                    input.form-control(type='text', placeholder='.col-md-8')
                                    .card-footer
                                        button.btn.btn-primary.btn-sm(type='submit') Action
                                        button.btn.btn-danger.btn-sm Action
                                        button.btn.btn-warning.btn-sm Action
                                        button.btn.btn-info.btn-sm Action
                                        button.btn.btn-success.btn-sm Action
                            .col-lg-6
                                .card
                                    .card-header
                                        | Input Grid for small devices!
                                        small
                                            code .col-*
                                    .card-body.card-block
                                        form.form-horizontal(action='', method='post')
                                            .row.form-group
                                                .col-4
                                                    input.form-control(type='text', placeholder='.col-4')
                                                .col-8
                                                    input.form-control(type='text', placeholder='.col-8')
                                            .row.form-group
                                                .col-5
                                                    input.form-control(type='text', placeholder='.col-5')
                                                .col-7
                                                    input.form-control(type='text', placeholder='.col-7')
                                            .row.form-group
                                                .col-6
                                                    input.form-control(type='text', placeholder='.col-6')
                                                .col-6
                                                    input.form-control(type='text', placeholder='.col-6')
                                            .row.form-group
                                                .col-7
                                                    input.form-control(type='text', placeholder='.col-5')
                                                .col-5
                                                    input.form-control(type='text', placeholder='.col-5')
                                            .row.form-group
                                                .col-8
                                                    input.form-control(type='text', placeholder='.col-8')
                                                .col-4
                                                    input.form-control(type='text', placeholder='.col-4')
                                    .card-footer
                                        button.btn.btn-primary.btn-sm(type='submit') Action
                                        button.btn.btn-danger.btn-sm Action
                                        button.btn.btn-warning.btn-sm Action
                                        button.btn.btn-info.btn-sm Action
                                        button.btn.btn-success.btn-sm Action
                            .col-lg-6
                                .card
                                    .card-header Example Form
                                    .card-body.card-block
                                        form(action='', method='post')
                                            .form-group
                                                .input-group
                                                    .input-group-addon Username
                                                    input#username3.form-control(type='text', name='username3')
                                                    .input-group-addon
                                                        i.fa.fa-user
                                            .form-group
                                                .input-group
                                                    .input-group-addon Email
                                                    input#email3.form-control(type='email', name='email3')
                                                    .input-group-addon
                                                        i.fa.fa-envelope
                                            .form-group
                                                .input-group
                                                    .input-group-addon Password
                                                    input#password3.form-control(type='password', name='password3')
                                                    .input-group-addon
                                                        i.fa.fa-asterisk
                                            .form-actions.form-group
                                                button.btn.btn-primary.btn-sm(type='submit') Submit
                            .col-lg-6
                                .card
                                    .card-header Example Form
                                    .card-body.card-block
                                        form(action='', method='post')
                                            .form-group
                                                .input-group
                                                    input#username2.form-control(type='text', name='username2', placeholder='Username')
                                                    .input-group-addon
                                                        i.fa.fa-user
                                            .form-group
                                                .input-group
                                                    input#email2.form-control(type='email', name='email2', placeholder='Email')
                                                    .input-group-addon
                                                        i.fa.fa-envelope
                                            .form-group
                                                .input-group
                                                    input#password2.form-control(type='password', name='password2', placeholder='Password')
                                                    .input-group-addon
                                                        i.fa.fa-asterisk
                                            .form-actions.form-group
                                                button.btn.btn-secondary.btn-sm(type='submit') Submit
                            .col-lg-6
                                .card
                                    .card-header Example Form
                                    .card-body.card-block
                                        form(action='', method='post')
                                            .form-group
                                                .input-group
                                                    .input-group-addon
                                                        i.fa.fa-user
                                                    input#username.form-control(type='text', name='username', placeholder='Username')
                                            .form-group
                                                .input-group
                                                    .input-group-addon
                                                        i.fa.fa-envelope
                                                    input#email.form-control(type='email', name='email', placeholder='Email')
                                            .form-group
                                                .input-group
                                                    .input-group-addon
                                                        i.fa.fa-asterisk
                                                    input#password.form-control(type='password', name='password', placeholder='Password')
                                            .form-actions.form-group
                                                button.btn.btn-success.btn-sm(type='submit') Submit
                        .row
                            .col-md-12
                                .copyright
                                    p
                                        | Copyright © 2018 Colorlib. All rights reserved. Template by 
                                        a(href='https://colorlib.com') Colorlib
                                        | .