extends ../layouts/layout.pug
include ../mixins/mixin.pug
block main-content
    .layout-content
        section#header
            include ./../partials/header.pug
            include ./../partials/navigation.pug
        main#main-content
            .container-fluid.pd-custom-layout.my-3
                .wrapper-category.d-flex
                    .wrapper-category_menu
                        include ./../partials/category-product-content.pug
                    .wrapper-category_product
                        .product-list
                            .product-list-title.d-flex.justify-content-between.align-items-center.mb-2
                                h3 Sản phẩm mua nhiều
                                    i.fas.fa-chevron-right
                            .product-list-slider
                                .row
                                    .col-sm-6.col-md-4
                                        +productItem
                                    .col-sm-6.col-md-4
                                        +productItem
                                    .col-sm-6.col-md-4
                                        +productItem
                                    .col-sm-6.col-md-4    
                                        +productItem
                                    .col-sm-6.col-md-4    
                                        +productItem
                                    .col-sm-6.col-md-4    
                                        +productItem
                                    .col-sm-6.col-md-4    
                                        +productItem
                                    .col-sm-6.col-md-4
                                        +productItem
                                    .col-sm-6.col-md-4    
                                        +productItem
                                    .col-sm-6.col-md-4    
                                        +productItem
                                    .col-sm-6.col-md-4    
                                        +productItem
                                    .col-sm-6.col-md-4    
                                        +productItem
                            +loadMore
        section#footer
            include ./../partials/footer.pug
