extends ../layouts/layout.pug
include ../mixins/mixin.pug
block main-content
    .layout-content
        section#header
            include ./../partials/header.pug
            include ./../partials/navigation.pug
        main#main-content.bg-deepgrey
            .container-fluid.pd-custom-layout.my-3
                .wrapper-category.d-flex
                    .wrapper-category_menu
                        include ./../partials/category-product-content.pug
                    .wrapper-category_product
                        .product-list.px-3
                            .product-list-title.d-flex.justify-content-between.align-items-center.mb-2
                                h3 Sản phẩm mua nhiều
                                    i.fas.fa-chevron-right
                            include ./../partials/product-table.pug
        section#footer
            include ./../partials/footer.pug
