extends ../layouts/layout.pug
block main-content
    section.concept-layout
        .concept-img-area
            section#left-concept
                    include ./../partials/product-concept.pug
        .concept-info-area
            include ./../partials/concept-info-content.pug
        
