extends ../layouts/layout.pug
block main-content
    .layout-content
        section#header
            include ./../partials/header.pug
            include ./../partials/navigation.pug
        section#cart.mt-3
            include ./../partials/drawings.pug
        section#footer
            include ./../partials/footer.pug