extends ../layouts/layout.pug
block main-content
    section.offer-layout
        .offer-content-customer
            include ./../partials/offer-customer.pug
        .offer-content-list-supplier
            include ./../partials/offer-supplier.pug