extends ../layouts/layout.pug
block main-content
    .layout-content
        section#header
            include ./../partials/header.pug
            include ./../partials/navigation.pug
        section#product-order.mt-3
            include ./../partials/product-order.pug
        section#footer.mt-5
            include ./../partials/footer.pug