extends ../layouts/layout.pug
block main-content
    .layout-content
        section#header
            include ./../partials/header.pug
            include ./../partials/navigation.pug
        main#main-content
            include ./../partials/_shop.pug
        section#footer
            include ./../partials/footer.pug
