extends ../layouts/layout.pug
block main-content
    .layout-content
        section#header
            include ./../partials/header.pug
            include ./../partials/navigation.pug
        main#main-content.bg-deepgrey
            .container-fluid.mt-3
                .store-product-menu.my-3
                    .store-product-menu_content
                        ul.d-flex
                            li.active
                                a(href="#") Trang Chủ
                            li
                                a(href="#") Tất cả sản phẩm 
                            li
                                a(href="#") Hồ sơ
                include ./../partials/store-homepage.pug
                .product-list
                    .product-list-title.d-flex.justify-content-between.align-items-center.mb-2
                        h3 Sản phẩm nổi bật
                        a.read-more(href="#") Xem thêm 
                            i.fas.fa-chevron-right
                    include ./../partials/list-product-category.pug
        section#footer
            include ./../partials/footer.pug
