<!DOCTYPE html>
html(lang="en")
        head
                meta(charset="UTF-8")
                meta(name="viewport", content="width=device-width, initial-scale=1.0")
                meta(http-equiv="X-UA-Compatible", content="ie=edge")
                title admin
                //- Font-Demo
                <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700&display=swap" rel="stylesheet">
                //- Font Awesome
                link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")
                //- Bootstrap 4
                link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
                //- Owl Slider
                link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
                link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css")
                //- Styles
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />

                link(rel="stylesheet", href="../css/styles.css")
                

        body
                //- .bg-wrapper
                block main-content
                
                //- Jquery
                //- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                //- //- Bootstrap 4
                //- //- script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
                //- script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
                //- script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
                //- //- Owl Slider
                //- script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
                
                //- <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
                //- Main Js
                script(src='../vendor/jquery-3.2.1.min.js')
                //- Bootstrap JS
                script(src='../vendor/bootstrap-4.1/popper.min.js')
                script(src='../vendor/bootstrap-4.1/bootstrap.min.js')
                //- Vendor JS
                script(src='../vendor/slick/slick.min.js')
                script(src='../vendor/wow/wow.min.js')
                script(src='../vendor/animsition/animsition.min.js')
                script(src='../vendor/bootstrap-progressbar/bootstrap-progressbar.min.js')
                script(src='../vendor/counter-up/jquery.waypoints.min.js')
                script(src='../vendor/counter-up/jquery.counterup.min.js')
                script(src='../vendor/circle-progress/circle-progress.min.js')
                script(src='../vendor/perfect-scrollbar/perfect-scrollbar.js')
                script(src='../vendor/chartjs/Chart.bundle.min.js')
                script(src='../vendor/select2/select2.min.js')
                //- Main JS
                script(src='../js/admin.js')
                //- end document
