mixin breadcumb(loc1, loc2, loc3, loc4)
    .breadcumb
        span= loc1
        span /
        span= loc2
        span /
        span= loc3
        span /
        span.font-weight-bold= loc4

mixin productDetail
    #product-detail
        .row.mx-0.mt-3.mb-4
            .col-md-6.col-lg-7.px-0
                .product-view.pr-md-5
                    .view-thumbs
                        #productViewCarousel
                            .thumbs-item
                                img.thumbs-img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/07/23/jysk-bed-favrbo-1563854142.jpg")
                            .thumbs-item
                                img.thumbs-img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/07/23/jysk-bed-favrbo3qr-1563854161.jpg")
                            .thumbs-item
                                img.thumbs-img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/07/23/jysk-bed-favrbo3ql-1563854161.jpg")
                            //- .thumbs-item
                            //-     img.thumbs-img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/10/21/jysk-bed-vedde0051-1571632223.jpg")
                    .view-media.ml-4
                        .view-image-wrapper
                            img#media-image(src="", alt="" data-zoom-image="")

            .col-md-6.col-lg-5.px-0
                .product-info
                        .product-heading
                            h1.product-title Giường đôi Favrbo
                            .row.mx-0   
                                p.col-6.p-0.text-left.product-brand Thương hiệu: relaxart
                                p.col-6.p-0.text-right.product-code Mã số: 00099012381
                        .product-price.py-3
                            p.m-0
                                span.current-price.mr-3 12,900,000 đ
                                span.product-stars-rating
                                    span.active
                                        i.fas.fa-star
                                    span.active
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                                    span
                                        i.fas.fa-star
                            //- p.m-0
                                //- span.discount-price
                                //-     span.mr-2 Tiết kiệm:
                                //-     span.mr-2.text-danger.font-weight-bold 10%
                                //-     span (890,000)
                                //- span.ml-2.normal-price Giá tiêu chuẩn: 8,900,000 đ
                        .product-desc.py-3
                            .product-prop
                                span.prop-title Loại:
                                span Giường đôi
                            .product-prop.d-flex.align-items-center
                                span.prop-title Màu sắc:
                                span.prop-colors.d-flex
                                    span.nude.active
                                    //- span.nude
                                    //- span.white
                            .product-prop
                                span.prop-title Chất liệu: 
                                span Gỗ công nghiệp
                            .product-prop
                                span.prop-title Kích thước(cm): 
                                span 205 x 186 x 87
                            .product-prop.d-flex.align-items-center
                                span.prop-title Số lượng
                                span.amount-box.d-flex.align-items-center
                                    button( data-multi="-1").handle-amount -
                                    input(type="text" value="1").amount-number
                                    button( data-multi="1").handle-amount +
                            .product-prop.d-flex.align-items-center
                                button.add-to-cart.mr-5
                                    i.fas.fa-cart-plus.mr-2
                                    span Chọn mua
                                span
                                    span.status.unlike.cursor-pointer
                                        i.fas.fa-heart
                        .py-3.product-delivery
                            .row.mx-0 
                                .col-8.p-0.text-left
                                    span.mr-2
                                        i.fas.fa-truck
                                    span Giao hàng tiêu chuẩn dự kiến từ 1 đến 3 ngày
                                    p.ml-4.my-0 Sản phẩm chỉ giao tại TP.HCM
                                .col-4.text-right.p-0
                                    a(href="#")
                                        span.mr-2
                                            i.fas.fa-share-alt
                                        span.text-uppercase Chia sẻ  
                        .product-policy.py-3
                            h3.font-weight-bold Chính sách và các nội dung liên quan
                            #viewToggle.read-less
                                p
                                    span.font-weight-bold.mr-2 1. Bảo hành:
                                    span 24 tháng
                                span.font-weight-bold 2. Chính sách đổi trả:
                                ul.ml-4.my-3
                                    li Nếu sản phẩm không nguyên mới, nguyên vẹn và không đúng chất lượng của nhà sản xuất, quý khách vui lòng thông báo trong 48 giờ kể từ thời điểm nhận hàng. Thời gian thực hiện việc đổi trả sẽ từ 07 - 14 ngày kể từ ngày nhận hàng.
                                    li Có thể đổi trả trong vòng 7 ngày kể từ ngày nhận hàng nếu sản phẩm: bị lỗi do nhà sản xuất / được giao không đúng với đơn đặt hàng.
                                    li Điều kiện: Sản phẩm phải còn nguyên vẹn , không trầy xước và còn tem của Relax Art. Khách hàng phải có hóa đơn hoặc phiếu bảo hành của Relax Art .
                            button.control-content Xem thêm


mixin productItem
    .product-item.my-3
        .product-item-header
            .product-item-badges
                span.discount -20%
                span.status.unlike.cursor-pointer
                    i.fas.fa-heart
            a(href="./product-detail.html").product-item-image
                img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/vivacph-coffeetable-ohw-0000-1572591277.jpg", alt="Product Image")     
        .product-item-body.mt-1
            .product-item-slider.owl-carousel.owl-carousel-2
                .thumbnail-item.active
                    img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/vivacph-coffeetable-ohw-0000-1572591277.jpg", alt="Product Image")
                .thumbnail-item
                    img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/vivacph-coffeetable-ohw-0008-1572591279.jpg", alt="Product Image")
                .thumbnail-item
                    img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/vivacph-coffeetable-ohw-0013-1572591280.jpg", alt="Product Image")
                .thumbnail-item
                    img(src="https://cdn.fitin.vn/cms-ecom/thumbs/700x700/images/2019/11/01/vivacph-coffeetable-ohw-0024-1572591282.jpg", alt="Product Image")
            .product-item-info.px-3.pb-3.pt-2
                a(href="#").cursor-pointer
                    h3.product-info-title Ghế thư giãn Barcelona
                .d-flex.justify-content-between.align-items-center.pt-3
                    .product-stars-rating
                        span.active
                            i.fas.fa-star
                        span.active
                            i.fas.fa-star
                        span.active
                            i.fas.fa-star
                        span
                            i.fas.fa-star
                        span
                            i.fas.fa-star
                        span.count-rating (30)
                    .product-location Hồ Chí Minh    
        .product-item-footer.d-flex.justify-content-between.align-items-center.px-3.py-1
            .product-price
                p.m-0.current-price 23,699,333 VND
                p.m-0.old-price 40,340,999 VND
            .product-provider
                a(href="./store-homepage.html")
                    img(src="https://cdn.fitin.vn/cms-ecom/images/2019/11/01/dong-nhan-1572594837.png", alt="")


mixin loadMore
    .load-more
        button.btn.btn-loadMore Xem thêm