.title_cart{
    h2{
        font-size: 20px;
        color: #333;
        font-weight: 500;
        text-transform: uppercase;
    }
    border-bottom: 1px solid #a9a9a9;
    padding-bottom: 5px;
    span{
        font-size: 13px;
    }
}
.box-item_cart{
    display: flex;
    align-items: flex-start;
    padding: 5px;
}
.img-item_cart{
    max-width: 110px;
    height: 110px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
    }
}
.box-info-item_cart{
    width: calc(100% - 110px);
}
.title-item_cart{
    a{
        h2{
            font-size: 18px;
            font-weight: 500;
            transition: all .3s ease;
            &:hover{
                color:#1f68ee;
                transition: all .3s ease;
            }
        }
    }
}
.product-item_cart{
    font-size: 15px;
    margin-top: 10px;
    border: 1px solid #cacaca;
    &:first-child{
        margin-top: 0;
    }
}
.delivery-item_cart{
    display: flex;
    align-items: center;
    color: rgb(36, 179, 36);
    font-weight: 500;
    i{
        padding-right: 5px;
    }
}
.function-item_cart{
    flex-wrap: wrap-reverse;
}
.btn-delete-item_cart{
    background: #F44336;
    color: #fff;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 4px;
    transition: all .3s ease;
    &:hover,&:focus{
        background: rgb(245, 93, 82);
        transition: all .3s ease;
    }
}
.price-item_cart{
    
}
.sale-off-item_cart{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    color: #a9a9a9;
    span{
        display: flex;
        align-items: center;
        color: #333;
        font-weight: 500;
        &:before{
            content: '|';
            display: block;
            margin: 0 10px;
        }
    }
}
.current-price-item_cart{
    font-weight: 700;
    font-size: 16px;
    color: #000;
}
.amount-item_cart{
    .amount-box{
        button{
            font-size: 16px;
        }
    }
}
.total-price_cart{
    border: 1px solid #cacaca;
    border-radius: 2px;
    font-size: 15px;
    .total-price_top{
        border-bottom: 1px solid #cacaca;
    }
    .total-price_main{
        strong{
            font-size: 18px;
            font-weight: 700;
            span{
                color: #333;
                font-size: 12px;
            }
        }
    }
}
.btn-order{
    display: flex;
    justify-content: center;
}
.btn_order{
    display: block;
    width: 100%;
    color: #fff;
    background-color: #ff424e;
    border-color: #ff424e;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    max-width: 300px;
    transition: all .3s ease;
    &:hover{
        background-color: #fc525e;
        border-color: #fc525e;
        transition: all .3s ease;
    }
}
@media only screen and (min-width:992px){
    .btn_order{
        max-width: 400px;
    }
}
@media only screen and (min-width:768px){
    #cart{
        margin-left: 50px;
    }
}
@media only screen and (max-width:991px){
    .btn-order{
        display: flex;
        justify-content: flex-end;
    }
}
@media only screen and (max-width:767px){
    .product-item_cart{
        font-size: 13px;
    }
}
@media only screen and (max-width:576px){
    .box-item_cart{
        flex-wrap: wrap;
        justify-content: center;
        .box-info-item_cart{
            width: 100%;
            margin-top: 30px;
        }
        .img-item_cart{
            max-width: 400px !important;
            height: 300px;
        }
    }
    .price-item_cart{
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .current-price-item_cart{
        font-size: 15px;
    }
    .sale-off-item_cart{
        font-size: 12px;
    }
    .amount-item_cart{
        height: 25px;
    }
}