.product-content {
    .banner-list {
        .logo-banner {
            img {
                width: 100%;
                max-height: 300px;
            }
        }
    }
    .product-category {
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        .category-item {
            margin: 5px;
            min-width: 100px;
            flex-wrap: wrap;
            text-decoration: none;
            text-align: center;
            transition: box-shadow 0.5s ease-in-out;
            position: relative;
            &:hover{
                .main-img{
                    opacity: 0;
                    pointer-events: none;
                    transition: all .1s ease;
                }
                .sub-img{
                    opacity: 1;
                    pointer-events: auto;
                    transition: all .1s ease;
                }       
            }
            .main-img{
                width: 60px;
                padding-top: 10px;
                
            }
            .sub-img{
                position: absolute;
                width: 60px;
                height: auto;
                top: 10px;
                left: 50%;
                transform: translateX(-50%);
                opacity: 0;
                pointer-events: none;
                transition: all .1s ease;
            }
            p {
                font-size: 12px;
                margin: 0;
                text-align: center;
            }
            &:hover {
                -webkit-box-shadow: 0px 0px 5px 2px rgba(168,158,168,1);
                -moz-box-shadow: 0px 0px 5px 2px rgba(168,158,168,1);
                box-shadow: 0px 0px 5px 2px rgba(168,158,168,1);
            }
        }
    
    }
    .wrapper-content{
        
    }
    .on-sale-product {
        .title {
            display: flex;
            align-items: center;
            .product-title {
                flex: 1;
            }
            .extentsion {
                position: relative;
                a {
                    color: #424548;
                    text-decoration: none !important;
                }
                
                
            }
        }
    }
    .title {
        display: flex;
        align-items: center;
        .product-title {
            flex: 1;
            text-transform: uppercase;
        }
        .extentsion {
            position: relative;
            a {
                color: #424548;
                text-decoration: none !important;
            }
            &:hover{
                a,i{
                    color: #2d9b00;
                }
            }
        }
    }
}
// promotion-product

.img-banner-promotion{
    display: flex;
    height: 100%;
    img{
        width: 100%;
        display: block;
        object-fit: cover;
        max-height: 440px;
    }
}

// favourite-product
#favourite-product{
    .box-favourite{
        .product-favourite{
            background-color: #fff;
            .img-favourite{
                img{
                    width: 100%;
                    display: block;
                    height: 100%;
                    max-height: 80px;
                }
            }
            .product-item-info{
                .current-price{
                    color: #111;
                }
                .product-info-title{
                    text-transform: capitalize;
                }
                .product-stars-rating{
                    font-size: 12px;
                    color: #ccc;
                    span.active {
                        color: #fbc910;
                }
                }
            }
        }
    }
}

.max-width-btn{
    max-width: 150px !important;
}

.bg-white{
    background-color: #fff;
}
.title-favourite{
    position: relative;
    margin: 20px 0;
    padding: 3px 0;
    h3{
        color: #333;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
    }
    &::before{
        content: '';
        position: absolute;
        height: 2px;
        width: 120px;
        transform: translateX(-50%);
        bottom: 0;
        left: 50%;
        background-color: #47a4ec;
    }
}

// carousel banner

#carousel-banner{
    .carousel-banner{
        .img-banner{
            img{
                width: 100%;
                display: block;
                max-height: 350px;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

//hot keyword

#hot-keyword{
    .hot-keyword{
        .owl-carousel-hotkey{
            position: relative;
            
            .btn-hot-keyword{
                padding: 10px 2px;
                text-align: center;
                border-radius: 2px;
                border: 1px solid #47a4ec;
                transition: all ease-in-out .3s;
                a{
                    color: #47a4ec;
                }
                &:hover{
                    background-color: #47a4ec;
                    a{
                        color: #fff;
                    }
                }
            }
        }
    }
}

.owl-nav{
    margin: 0 !important;
    .owl-prev{
        width: 30px;
        height: 29px;
        margin: 0;
        background: rgba(255,255,255,.5) !important;
        border-radius: 50% !important;
        display: block;
        position: absolute;
        margin: 0 !important;
        left: 2px;
        top: 50%;
        transform: translateY(-50%);
    }
    .owl-next{
        width: 30px;
        height: 29px;
        margin: 0;
        background: rgba(255,255,255,.5) !important;
        border-radius: 50% !important;
        display: block;
        position: absolute;
        margin: 0 !important;
        right: 2px;
        top: 50%;
        transform: translateY(-50%);
    }
}
// trademark

.owl-carousel-trademark{
    border: 1px solid #ccc;
    padding: 25px 20px;
    img{
        max-height: 60px;
        height: 100%;
        object-fit: contain;
    }
}

.bg-orange{
    background-color: orange;
}
.bg-gb{
    background-color: #18cc9a;
}
.bg-custom-tomato{
    background-color: #d6862e;
}
.bg-custom-pink{
    background-color: #ff42e8;
}
.bg-silver{
    background-color: #ababab;
}
.bg-brown{
    background-color: #a16222;
}
.bg-pink{
    background-color: #ff9aac;
}
.bg-purple{
    background-color: #bb6bf7;
}
@media only screen and (max-width:767px){
    .zoomContainer {
        display: none;
    }
}